[2015-02-11 19:05] TheCase opened #333 "sbindir is partially hard coded in server_source configure flags"
Fix applied in #332

[2015-02-19 17:42] TheCase opened #336 "libraries/timeperiod.rb - timeperiod regex check is too restrictive"
[code]

Needs to allow for multiple time ranges
ex: '00:00-06:00,17:00-19:00' or '00:00-04:00,12:00-14:00,16:00-24:00'

[2015-03-02 15:47] sbotman commented on #336
should be fixed with PR #340

[2015-03-02 15:47] #336 closed, assigned to nobody

[2015-03-02 15:48] sbotman commented on #333
Merged fix.

[2015-03-02 15:48] #333 closed, assigned to nobody

[2015-03-12 10:07] thereforsunrise opened #341 "apache config on Ubuntu 14.04 results in missing css style"
Generated apache:

<VirtualHost *:80>
  ServerAdmin     root@localhost
  ServerName      mvfdev2eae2e18.local
  DocumentRoot    /usr/share/nagios3/htdocs
  CustomLog       /var/log/apache2/nagios_access.log combined
  ErrorLog        /var/log/apache2/nagios_error.log

  Alias /stylesheets /etc/nagios3/stylesheets
  ScriptAlias /cgi-bin/nagios3 /usr/lib/cgi-bin/nagios3
  Alias /nagios3 /usr/share/n

[2015-03-12 10:36] caussourd commented on #341
I'm running Ubuntu 14.04 and I observed the same problem and edited the apache template this way: https://github.com/caussourd/nagios/commit/6dfd38394809fbdafd4fec7aac58baff8e1c50ec#diff-ad02592ef899b362742220bf1260cad1

As I'm not using the same Apache recipe, I didn't realize it was an Ubuntu issue... I guess it would require testing with other OS

[2015-03-17 20:44] tavorincon opened #345 "Add host using custom host_template"
Hi - I am trying to use a custom host template (defined in the host_templates databag) when adding a special type of VM to Nagios following your instructions here: https://github.com/tas50/nagios/wiki/host_templates

"You then use the host template by setting the node['nagios']['host_template'] attribute for a node. You could apply this with a role as follows:

role 'windows'

default_attributes(

[2015-03-18 17:54] sbotman commented on #345
While looking at your issue, I thought this would be simple to fix (famous last words...)
But I was wondering of in the wrong direction before I even noticed it :)

The idea here is that you create your own template, either by using the provider or databag (like you pointed out)
On the node where you want to use this template, you specify the attribute.
If you do this via a role, make sure you con

[2015-03-18 19:45] sbotman commented on #345
@tavorincon, can you please test the branch https://github.com/tas50/nagios/tree/fix_345_host_template and check if this fixes your problem? You also should use the `node['nagios']['use']` attribute on the node instead of `node['nagios']['host_template']`. I will update the documentation for this.

[2015-03-18 19:53] tavorincon commented on #345
Hey Sander, thanks for the quick response! Let me give this branch a try
and I will get back to you soon.

Gus

On Wed, Mar 18, 2015 at 3:45 PM, Sander Botman notifications@github.com
wrote:

[2015-03-19 13:32] tavorincon commented on #345
Works great, thanks a lot @sbotman!

[2015-03-19 13:32] #345 closed, assigned to nobody

[2015-03-19 13:57] sbotman commented on #345
Cool, will merge the branch info master and push-out a new version after I have created some tests for this. Would like to avoid this problem in the future. Please let me know if you run into any other issues because it seems that you use nagios more advanced than we do.

[2015-03-27 12:46] tacchino opened #347 "Failure when creating servicegroups"
When a servicegroup data bag item is defined the cookbook will fail when trying to call Servicegroup.create, it is not defined.

[code]

[2015-03-27 13:19] sbotman commented on #347
Thanks for reporting this, can you please check if https://github.com/tas50/nagios/pull/348 fixes your issue.

Cheers Sander

[2015-03-27 14:46] tacchino commented on #347
Yep, that does get me past the failure but it looks like that branch doesn't have #345 in it?

[2015-03-27 14:56] sbotman commented on #347
Indeed, that branch was still under development because I wanted to add some tests before I merged it. But the issue is more important than the test (for which I don't have enough time at the moment) So created PR and will merge it once travis is happy and will merge this minor fix also.

[2015-03-27 15:28] tacchino commented on #347
Awesome. Thanks for the quick help!

[2015-03-27 16:14] sbotman commented on #347
@tacchino since I have merge the code, I will close this ticket :)

[2015-03-27 16:14] #347 closed, assigned to nobody

[2015-03-27 21:14] GitBytes opened #351 "Error executing action `update` on resource 'nagios_resourcelist_items[update]'"
I seem to still be having an issue bringing in my service group stuff.. Can anyone verify this isn't still an issue from the providers angle? Thank you for your time. See output below, should be using the latest version since Merge #350. If I am possibly missing something that should fix this I am happy to try things.

[code]

[2015-03-27 21:23] sbotman commented on #351
Should have been fixed by last PR. See https://github.com/tas50/nagios/issues/347

[2015-03-27 21:34] GitBytes commented on #351
Well, darn.. Sorry to open another issue on this. Not sure why this is still happening then.. Thanks for looking it over sir. I'll probably close this and do more testing and poking.. It was working until I attempted migrating to newest version(s), not sure what is wrong. I am assuming there wasn't something special to watch for between 6.1.2 and 7.0.4 on this..? Thanks in advance.

[2015-03-27 21:38] sbotman commented on #351
I'm just pushing out 7.0.6 which should be working fine. Please let me know if you have problems with this version...

[2015-03-27 21:44] GitBytes commented on #351
It would also help pulling from correct Berksfile source.. My mistake there but the test with 7.0.6 is coming back good! Thanks for the help! Closing now... Cheers!

[2015-03-27 21:44] #351 closed, assigned to nobody

[2015-03-27 21:47] sbotman commented on #351
Tnx for closing. I have pushed 7.0.6 to the supermarket! Cheers Sander

[2015-03-27 21:50] luntzel opened #352 "allow_empty_hostgroup_assignment activated on ubuntu 12.04 and package installation method"
Distributor ID: Ubuntu
Description:    Ubuntu 12.04.5 LTS
Release:    12.04
Codename:   precise

This block in nagios.cfg.erb:

<% if node['nagios']['server']['install_method'] == 'source' ||
      (node['platform_family'] == 'debian' && node['platform_version'].to_i >= 7) ||
      (node['platform_family'] == 'rhel' && node['platform_version'].to_i >= 6) ||
      (node['platform_family'] == 'ubunt

[2015-03-30 21:16] blueharford opened #353 "Nagios::Contact fail: Cannot find command host_notify_by_email please define it first."
anyone know how to get passed this? i cant get this to do updates, when i create contacts, it either asks me for the commands in the contact databag or throws the error in the subject.

[2015-03-30 21:28] sbotman commented on #353
I will take a look for you tomorrow.
Basically you first need to create the command.
It's probably an order issue with the data bag import.
But unable to check this at the moment.

Greetings sander

Sent from my iPhone

On 30 Mar 2015, at 23:16, Joshua Seidel <notifications@github.com<mailto:notifications@github.com>> wrote:

anyone know how to get passed this? i cant get this to do updates, when

[2015-03-31 13:32] blueharford commented on #353
@sbotman thanks sander, also if i want to disable or limit the search by a attribute?

we want to create a nagios instance for each region. so usva should only find nodes that start with usva-. is there a way to disable finding things by environment and only find things by "region"?

[2015-03-31 17:04] sbotman commented on #353
@blueharford Joshua, can you please test if this branch is working for you https://github.com/tas50/nagios/tree/fixing_353

About the search question:
We have disabled the default config and databag loading by setting the attributes within a wrapper cookbook:

[code]

Then we use partial search (to offload the searches) to lookup the nodes and grab all the attributes that we would like to enable.

[2015-03-31 19:12] GitBytes opened #354 "/etc/nagios/conf.d/servicegroups.cfg being generated with services but no hosts"
I am running into an interesting feature..

Scenario:
Generating a servicegroups.cfg via (example) nagios_servicegroups/custom_servicegroup.json databag file:

[code]

and using the following (example) nagios_services/custom_service.json databag:

[code]

It would seem that when members are added to the servicegroups.cfg file, only the service description name (ex. ssmaster), is being added to the

[2015-03-31 19:16] GitBytes commented on #354
Nagios Cookbook 7.0.6

[2015-03-31 19:56] sbotman commented on #354
Interesting issue. Will need to do some investigation on this before I can give a decent answer. Would be nice to know if you have the same problem when using version 7.0.4, because made some small changes with the last version that might break some stuff but I'm not sure... If you are able to test this quickly that would be great. Cheers Sander

[2015-03-31 20:00] GitBytes commented on #354
Branching to do a test with previous version..however i have already tested against previous version and ran into Issue https://github.com/tas50/nagios/issues/347

I'll do it again but I suspect the create method may still be an issue there?

[2015-03-31 20:02] sbotman commented on #354
yeah, that problem is within version 7.0.4... so no use in testing..

[2015-03-31 20:02] sbotman commented on #354
I will try to reply your setup, that might be easier...

[2015-03-31 20:06] GitBytes commented on #354
I apologize if my masking of exact details of databags and cfg files hinders the progress, I can report the actual bits I am using if that helps but it should be fairly accurate to help describe the use case. Just let me know if you need it, thanks!

[2015-03-31 20:06] sbotman commented on #354
how and where do you define the servicegroup members?

[2015-03-31 20:09] sbotman commented on #354
maybe easier if you add me on skype or something if you have time... sander.botman is my account

[2015-03-31 20:09] GitBytes commented on #354
Will do.
Sent. Several results were there though so hopefully I got correct one?

[2015-03-31 20:23] sbotman commented on #354
Hmm... having the exact same error here .....  So I guess your use case is sufficient to break it.. if you cannot find me on skype, try my email ping_me_now@hotmail.com

[2015-03-31 20:26] GitBytes commented on #354
Hmm Still having issues looking you up sadly.. I sent an email to that just in case, can you confirm?

[2015-04-01 12:36] blueharford commented on #353
hmm so i want the databags to be used but i just want to customize the search for what gets added.

so all databags load, but when it searches for nodes in chef, instead of it looking by environment i'd like it to look at the first 3 letters of the node name for matching.

[2015-04-01 12:52] blueharford commented on #353
@sbotman

Recipe: nagios::default
- directory[/etc/nagios/dist] action create (up to date)
- directory[/var/lib/nagios] action create (up to date)
- directory[/var/lib/nagios/rw] action create (up to date)
- execute[archive-default-nagios-object-definitions] action run (skipped due to not_if)
- directory[/etc/nagios/certificates] action create (up to date)
- bash[Create SSL Certificates] action ru

[2015-04-01 13:09] blueharford commented on #353
@sbotman it works if i add pagerduty as a contact.. but then it doesnt configure it right as defined in pagerduty.rb . should default.rb be calling pagerduty.rb if so where?

[2015-04-01 13:16] sbotman commented on #353
Hi Joshua, did you also test the branch https://github.com/tas50/nagios/tree/fixing_353 ?

[2015-04-01 13:23] blueharford commented on #353
@sbotman i grabbed the last commit then made the change. but im not finding it clear on how to invoke pagerduty.

im seeing this in the contacts.cfg

# Skipping pagerduty because missing email.

[2015-04-01 13:26] sbotman commented on #354
Hi Ian,

Please checkout this branch and see if this will fix your problem: https://github.com/tas50/nagios/tree/fix_servicegroups

While testing I found a lot of other bugs, so was a bit more work than I expected :(

[2015-04-01 13:29] blueharford commented on #353
@sbotman ok so apparently it created a pagerduty.conf with the contact. so i had to add include_recipe "nagios::pagerduty" in default right before the update resource and all is happy.

[2015-04-01 13:37] sbotman commented on #353
Great!

To be very honest, I personally never used the data bag setup. And if we use it, we don't do very much with it. Yesterday GitBytes opened issue #354 which took me some time to fix. Think that these changes are also useful for your setup and it would be great if you can test that branch. The fix provided here above is also merged into that branch.

Please let me know the result :)

Cheers S

[2015-04-01 15:09] blueharford commented on #353
@sbotman yea it works. the only issue i have now. is that i dont want it to scan by environment. i'd likefor their to be an option where i can do default['nagios']['node']['hostname_match'] = 'b1p' would only auto add servers that node name starts with b1p. since we have mutltiple regions

[2015-04-01 16:32] GitBytes commented on #354
Successful test! The servicegroups.cfg members are now syncing properly!  (i.e host,service,host,service,...etc..)

Any thing else you would like from me? Otherwise I think we are ok to merge/close issue. Thanks again @sbotman and any others who may have looked over issue!

[2015-04-01 17:39] sbotman commented on #354
Merged the code.

[2015-04-01 17:39] #354 closed, assigned to nobody

[2015-04-01 17:47] sbotman commented on #353
@blueharford if you have setup your chef-environments per region, then you can use the following attributes:

[code]

Otherwise you will need to create some custom code like the example I gave here above.
The configuration is fully provider driven and you can put all your needs within recipes, please check the wiki https://github.com/tas50/nagios/wiki. If this still doesn't help you, you can conta

[2015-04-02 13:15] #353 closed, assigned to nobody

[2015-04-03 08:41] sbotman commented on #352
@petegallagher can you take a look at this?

[2015-04-03 13:33] blueharford opened #356 "filter unmanaged databag items"
@sbotman

looking for the best way to filter unmanagedhosts  in load databag. we want to only load the items that start with a attribute value

example: only load items from the data bag that start with #{node['nagios']['zone']}

unmanaged_hosts = nagios_bags.get(node['nagios']['unmanagedhosts_databag'])
unmanaged_hosts.each do |item|
  name = item['host_name'] || item['id']
  nagios_host name do

[2015-04-03 13:47] sbotman commented on #356
again, you will need to copy the _load_databag_config.rb into your wrapper cookbook and set the attribute to not load the default.

[code]

Then adjust the recipe within your wrapper and change it to something like:

[code]

And then call this recipe within your wrapper cookbook.

HTH Sander

[2015-04-03 14:00] blueharford commented on #341
@sbotman this works, i did it locally, can it get merged into the upstream?

[2015-04-03 14:02] sbotman commented on #356
Thinking about this.... this will remove one loop :)

[code]

[2015-04-03 14:15] sbotman commented on #341
Seems something that's only for Ubuntu. If you can make a PR for this and make sure it only targets Ubuntu, then I will be happy to merge it.

[2015-04-03 16:52] luntzel commented on #352
As a test, I commented out

(node['platform_family'] == 'debian' && node['platform_version'].to_i >= 7) ||

and it worked as expected. Perhaps the debian / ubuntu versions are colliding.

[2015-04-04 14:32] sbotman commented on #356
@blueharford Hi Joshua. Was the information here above sufficient? Please close the ticket if you have enough info. Gr Sander

[2015-04-06 04:28] petegallagher commented on #352
Will check it out shortly and update.

[2015-04-06 06:12] sbotman commented on #352
Tnx peter! @luntzel does this fixes your problem?

[2015-04-06 13:51] helmut-hoffer-von-ankershoffen opened #359 "check_nrpe_alive"
Hi,

the cookbook defines the command "check_nrpe_alive" but sets "check-nrpe-alive" as default check-command.

best

[2015-04-06 14:33] luntzel commented on #352
That does indeed seem to fix the issue. Thank you!

[2015-04-06 14:33] #352 closed, assigned to nobody

[2015-04-06 14:40] helmut-hoffer-von-ankershoffen opened #360 "Nodes/NRPE behehind nat"
Hi,

some of the hosts/nodes/containers in our cluster are in a nat'ed subnet only reachable from the chef server via port-forwards, i.e. their IP and port 5666 is not reachable directly by the chef server.

Is is possible to override the IPs of those hosts nagios gathers via chef using some node attributes and configure nagios to use a non-standard port for accessing nrpe again acquired via some

[2015-04-06 15:02] blueharford commented on #356
it looks good thanks!

[2015-04-06 15:02] #356 closed, assigned to nobody

[2015-04-06 17:27] sbotman commented on #359
Hello @helmuthva, can you be more specific? Your right that the check-nrpe-alive is renamed to check_nrpe_alive because I wanted to have all names consistent, but I don't really understand the problem you are facing at the moment.

Tnx!
Greetings Sander

[2015-04-10 19:14] jstange opened #361 "host_name_attribute not being honored in 7.0.8 (Chef 12)"
Can't seem to get this attribute to propagate down to the `@host_name_attribute` variable down in _libraries/nagios.rb_ (where it's referenced in the method `get_hostname`). Tried setting on the node with various priorities and even mangling the default in the cookbook, just to make sure I'm not being dense, and no joy. Only thing that works is modifying the default value of `@host_name_attribute`

[2015-04-15 18:32] timw077 opened #363 "missing nagios config line in attributes service_check_timeout_state=u"
Valid settings are:

c - Critical (default)
u - Unknown
w - Warning
o - OK

http://nagios.sourceforge.net/docs/3_0/configmain.html

for example:
node['nagios']['service_check_timeout_state'] = 'u'

[2015-04-20 15:40] GitBytes commented on #363
@sbotman Is there any chance you will be looking over this soon? Thanks in advance. If you don't have time we can do a fork thing and get by for a while until you do. Cheers!

[2015-04-20 15:46] sbotman commented on #363
@GitBytes, do you have an suggestion? Will be happy to merge any PR. While on the subject anyway, would even be nicer if we can make a list of all the options and define some defaults. And then if the attribute exists overwrite it. This will make it very flexible.

[2015-04-20 15:49] GitBytes commented on #363
@sbotman Cool! I will see what I can work out and get a PR out to you. Thanks.

[2015-04-20 15:58] sbotman commented on #360
Hi @helmuthva, I don't know if there are any proxy solutions because my use of nagios is limited. But I do created something similar as you requested by abusing the notes attribute and populating this with: "-P ${proxy_ip_address}"  Then I created a nrpe wrapper script on the nagios server that would execute the nrpe_proxy_command command with the original as parameter. Then your proxy server woul

[2015-04-20 15:59] sbotman commented on #359
@helmuthva, any update on this?

[2015-04-20 16:00] sbotman commented on #341
@tas50 can you share your thoughts on this? (as ubuntu user)

[2015-04-20 16:35] tas50 commented on #341
I think the alias just needs to go back like @caussourd has.  For some reason Nagios really wants to not sit at the root of the site and if it does you run into issues like this.

[2015-04-20 23:06] timw077 commented on #363
Submitted pull request to fix this.
 Thank you @GitBytes  for your help testing this.  @sbotman, Does that look good, or do you need something more?

[2015-04-22 13:28] sbotman commented on #363
I have merged the PR, but I might change this into something more generic. Let me make a suggestion so that you can review @timw077 @GitBytes

[2015-04-22 14:21] sbotman commented on #361
This is fixed with PR #367

[2015-04-22 16:01] GitBytes commented on #363
@sbotman Thanks for taking a look. I have a plan to start working on a more fully dynamic config based on attributes chosen and be able to include the full gambit of options available but I don't have time right now, sadly.. But once I have some free time to sit down and start it I'll submit an enhancement and a pull request once complete. I'll start with the options you guys currently have so it

[2015-04-22 18:35] sbotman commented on #363
@GitBytes I was thinking down the same route and was working on something today.. Will push my branch that I have currently so you can share your thoughts..

[2015-04-22 18:51] sbotman commented on #363
See: https://github.com/tas50/nagios/compare/bugfix/363
Idea is to iterate over all options and check if the node['nagios']['cfg']['attribute_name'] exists. Use the attribute or grab the default from the hash. And the regex is there to check the input, so we have some kind of input checking.

[2015-04-22 19:35] GitBytes commented on #363
@sbotman, @timw077 and I were talking about this particular method and I think this is headed down a good path.

How is the versioning for this change going to be handled in your eyes? Seems like a pretty significant change to the way the main Nagios config will be handled.

Also, something I noticed while reading through.. On line 10 there seems to be "anagios" instead of just "nagios".. Not sure

[2015-04-22 19:45] GitBytes commented on #363
@sbotman One suggestion we are talking about is reducing the amount of code in the list so that entries that only have a difference of the name could be in some sort of an array. Maybe that isn't necessary but thought I would throw that out there..

[2015-04-23 06:17] sbotman commented on #363
@GitBytes, thanks for sharing your thoughts. The code I committed was really roughly and work in progress (WIP), but wanted to show the idea.

About the version I have no thoughts yet. If the resulted config works based on the current attributes then the bumb will be minor, otherwise we need to bumb the major I guess.

I will try to cleanup the code today so we can do some testing.

Cheers Sander

[2015-04-23 06:47] GitBytes commented on #363
@sbotman All good, I just wanted to get what thoughts we were drumming up out there so you had the suggestion.. I will gladly do some testing for you soon/when you are ready.

[2015-04-23 10:39] sbotman commented on #363
@GitBytes, @timw077 Finished PR https://github.com/tas50/nagios/compare/bugfix/363 This is something that can test, at least it works on my laptop :smile:. Think that the next step would be moving the attributes into default['nagios']['conf']['attribute'] where possible and needed. But for the moment it should be backwards compatible (checked all options but might have missed one)

Please let me k

[2015-04-23 16:03] sbotman commented on #363
@bheuvel We also discussed this issue, so maybe good if you also review and share your thoughts on this. :smile:

[2015-04-23 16:19] GitBytes commented on #363
@sbotman I have read through the changes and it looks pretty close. I'll need to run some tests with a test branch and let you know how it plays out. Sorry I didn't get back to you sooner.. Time difference and all..

[2015-04-23 16:26] sbotman commented on #363
@GitBytes Your review and comments are very much appreciated! If we can fine tune this, then I think we can create the same structure for the CGI settings file.

[2015-04-23 16:33] GitBytes commented on #363
@sbotman No problem! Thanks for spending time with this. I have the changes merged, running tests now.

[2015-04-23 17:13] sbotman commented on #363
@GitBytes Just found some attributes that I missed, so just pushed a commit with the missing attributes....

[2015-04-23 17:18] GitBytes commented on #363
@sbotman Noted. Initial test went through and configs generated, didn't have time to compare configs yet though so I'll merge the attributes and converge and compare. So far focused on centos6.5 kitchen suite.

[2015-04-23 18:26] GitBytes commented on #363
@sbotman I think you have a winner on this. Testing on CentOS6.5 is working, and I don't think the changes you are making will directly affect Nagios from OS to OS so unless you have another test you would like me to run it looks good! I could run the gambit of OS tests but it will take me a while to complete...

[2015-04-24 13:59] sbotman commented on #363
@GitBytes thank for testing. Only question is if this is the right way to do it, because if we just move all settings to node['nagios']['conf']['settings'] and import all node['nagios']['conf'] settings into the config, then adding extra settings becomes much easier. We will have no input checking that way, but it might make it more flexible. So let me know your thoughts on this... Because that wo

[2015-04-24 16:16] GitBytes commented on #363
@sbotman I think the level of flexibility this method provides is a great asset, regardless of error checking, in THIS case. As long as the options provided by default are sound and also laid out plainly in the attributes file(s) then it allows end users the freedom they need to add or take away options within a wrapper environment much more easily. Really, if someone feels that with this method t

[2015-04-28 12:35] bheuvel commented on #363
@sbotman Finally got round to catching up here.
Totally agree with moving the options to a settings node/attribute file for all the reasons you both ( @sbotman , @GitBytes  ) stated.

Also keeping in code the input checking or even providing defaults would be very nice, but perhaps a bit superfluous and I'm not sure if it's really worth the effort (creation/maintenance).

My vote would go for just

[2015-04-28 16:30] timw077 commented on #363
@sbotman, Can you bump the version, and send this to the supermarket?
Thanks.

TimW

[2015-04-28 19:59] sbotman commented on #363
@timw077 I will update. Will introduce the possibility to update or add any kind of configuration item via the node['nagios']['conf'] place holder. Will move these kind of settings into a separate configuration file. Will drop the input validation so KISS and avoid future maintenance updates on this.

Cheers Sander

[2015-04-28 20:07] timw077 commented on #363
@sbotman  Perfect!  Thanks for making this happen so fast!

Peace.

[2015-04-28 22:17] GitBytes commented on #363
@bheuvel  Thanks for the follow-up this morning by the way.

[2015-04-28 22:44] sbotman commented on #361
Closing issue since it's closed with PR#367

[2015-04-28 22:44] #361 closed, assigned to nobody

[2015-04-28 22:58] sbotman commented on #363
@timw077 Will continue tomorrow because it's getting late and I'm almost finished but not quite jet. Please checkout https://github.com/tas50/nagios/pull/369 that I created, which hold all the new attributes separated inside a config attribute file. I have written some tests and all should work fine. Just need to update some readme and change log and it's ready to merge. @bheuvel, @timw077 and @Gi

[2015-04-28 23:04] GitBytes commented on #363
@sbotman as always, thanks for your time sir!

[2015-04-29 11:16] bheuvel commented on #363
Put my comment in the pull request #369

[2015-04-29 15:16] leoditommaso opened #371 "Add tag for version 7.0.9"
We need the change added in 7.0.9 version which is currently in master branch (allows to use custom hostname, for example fqdn instead of name).

Thanks in advance,
Leandro

[2015-04-29 17:47] sbotman commented on #371
Version 7.1.0 is about to be released which contains your request :)

[2015-04-29 17:47] #371 closed, assigned to nobody

[2015-04-29 17:53] sbotman commented on #363
@timw077 With PR https://github.com/tas50/nagios/pull/369 your request is moved under `default['nagios']['conf']['service_check_timeout_state']`
Hope that you don't mind the change, but with this update you are able to set/change/remove/create any config option you want :smile:
With this I'm closing this issue, with special thanks to @timw077 @GitBytes @bheuvel for your support!

[2015-04-29 17:53] #363 closed, assigned to nobody

[2015-04-29 18:00] GitBytes commented on #363
@sbotman @bheuvel A huge thanks to you both, you guys did a lot of work with this and I greatly appreciate all of your time and effort to enable this new feature!!  I think users will like the ability to better customize things as they see fit. I was happy to give input where I could. Until next time.. Cheers!

[2015-05-01 01:12] tas50 opened #376 "Nagios in 10.04 / 14.04 fail to validate default config"
service_check_timeout_state=c is not a valid config in the version of nagios shipped with 12.04/10.04 (3.2.0/3.2.3):

Error in configuration file '/etc/nagios3/nagios.cfg' - Line 80 (UNKNOWN VARIABLE)
   Error processing main config file!

[2015-05-01 01:30] tas50 commented on #376
Moved the attribute to only install in more modern Nagios releases in https://github.com/tas50/nagios/commit/e8a0684d8a1f594ed3c4984b8a6cb718f9bb8e0b

cc: @sbotman

[2015-05-01 01:30] #376 closed, assigned to nobody

[2015-05-01 01:31] tas50 commented on #341
Fixed in https://github.com/tas50/nagios/pull/368

[2015-05-01 01:31] #341 closed, assigned to nobody

[2015-05-01 17:17] leoditommaso opened #377 "Add v7.1.1 tag"
Please, release a new version including fixes in PR #368, #374 and #375.

Thanks!

[2015-05-01 17:50] tas50 commented on #377
7.1.2 is out

Sent from my iPhone

[2015-05-01 17:51] #377 closed, assigned to nobody

[2015-05-01 18:08] sbotman commented on #377
Awesome Tim! Was about to do this after diner, but you beat me to it :) Tnx dude!

Sent from my iPhone

On 01 May 2015, at 19:50, Tim Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

7.1.2 is out

Sent from my iPhone

—
Reply to this email directly or view it on GitHubhttps://github.com/tas50/nagios/issues/377#issuecomment-98186678.

[2015-05-08 21:05] rettigs opened #379 "Old nagios.server_role attibute still referenced"
`node['nagios']['server_role']` is still referenced in the README.md and in recipes/default.md (for log output), even though the attribute no longer exists; it has been replaced with `node['nrpe']['server_role']` in the https://github.com/tas50/chef-nrpe cookbook.

[2015-05-09 00:49] #379 closed, assigned to nobody

[2015-05-11 17:58] leoditommaso opened #382 "New tag"
Could you please add a new tag regarding PR #381 ?

[2015-05-11 21:18] TheCase opened #383 "cgi-path is partially hardcoded in server_source recipe"
Instead, should use 'cgi-path' attribute

corrected with PR #378

[2015-05-14 16:05] jhammerman79 opened #385 "Not adding pagerduty contact to every group"
Hi Nagios cookbook maintainers,

Thank you for the cookbook! I'm trying to use the wrapper development method to alter some of the logic in the cookbook. Specifically, I would like to control the members in contactgroups, and be able to exclude the pagerduty user  (not every alert is a paging alert in my setup).

I put together something like this:

http://pastebin.com/awwGZtk2

At this point I co

[2015-05-14 16:06] jhammerman79 commented on #385
I wanted to mark this as a question, but I don't see a facility for that - perhaps it is an administrative function?

[2015-05-14 16:43] sbotman commented on #385
Will be happy to help, only today and tomorrow free.. Let's contact next week... Cheers Sander

[2015-05-18 08:56] sbotman commented on #360
I'm closing this ticket, please feel free to contact me on gitter if you have still some open questions. https://gitter.im/tas50/nagios
Gr Sander

[2015-05-18 08:56] #360 closed, assigned to nobody

[2015-05-18 09:08] sbotman commented on #385
Your code on pastebin looks good!

The contact group information is stored on Nagios.instance.contactgroups hash, so when you debug this, you should be able to query this.

Maybe the wiki can answer your question about the services.
https://github.com/tas50/nagios/wiki/services.cfg

Or reach out and contact us on https://gitter.im/tas50/nagios.

[2015-05-18 13:34] leoditommaso commented on #382
Hi, I'm sorry to insist on this, but would this be possible?

[2015-05-18 13:45] sbotman commented on #382
Sorry for the delay, will see If I can fix this for you today.

[2015-05-18 23:37] sbotman commented on #385
Should be fixed within version 7.1.4. Closing this for the moment but feel free to reopen if you still run into errors.

[2015-05-18 23:37] #385 closed, assigned to nobody

[2015-05-18 23:38] sbotman commented on #382
Your change is merged into version 7.1.4.

Greetings Sander

[2015-05-18 23:38] #382 closed, assigned to nobody

[2015-05-19 12:05] sbotman commented on #383
Merged.

[2015-05-19 12:05] #383 closed, assigned to nobody

[2015-05-19 13:26] blueharford opened #390 "support read only users"
@sbotman To provide rouser with rights to see stuff, simply edit your nagios cgi file normally found in /usr/local/nagios/etc/cgi.cfg. Look for the directives

authorized_for_all_services=nagiosadmin
authorized_for_all_hosts=nagiosadmin

And add next to it with a comma, the rouser which you just created like below:

authorized_for_all_services=nagiosadmin,rouser
authorized_for_all_hosts=nagiosadmi

[2015-05-19 13:35] sbotman commented on #390
So you are asking me to fix this? Or are you going to create a PR for me to review :)?

[2015-05-19 13:41] sbotman commented on #390
Quickly looking at this, these options are set with attirbutes:

[code]

So you could set this attribute to "nagiosadmin,rouser" to achieve the desired result.
Or am I missing something?

[2015-05-19 14:06] blueharford commented on #390
more looking for your opinion in how
to add in the read only user permission

[2015-05-19 14:08] blueharford commented on #390
http://highsecurity.blogspot.com/2009/07/nagios-read-only-user.html

[2015-05-19 14:12] sbotman commented on #390
Join me on [![Join the chat at https://gitter.im/schubergphilis/nagios](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/schubergphilis/nagios?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) and lets discuss..

[2015-05-19 22:06] TheCase opened #393 "allow custom apache auth requirement"
I need to narrow it down to a specific group rather than just 'valid-user' (others may as well)

Feature updated code in PR #392

[2015-05-19 22:27] sbotman commented on #393
LGTM, just merged.

[2015-05-19 22:27] #393 closed, assigned to nobody

[2015-05-19 22:29] sbotman commented on #390
We just moved the repo into the area of Schuberg Philis, but I think that we are missing some messages on gitter, please repeat your question about the hosts....

[2015-05-19 22:29] TheCase commented on #393
thanks!

[2015-05-20 21:36] jhammerman79 opened #395 "nagios_host defined hosts removed from search results"
Hello Nagios cookbook development team,

Following this:

To create hosts, you can use the nagios_host provider within your recipes.

From here:

https://github.com/tas50/nagios/wiki/hosts.cfg

I thought that I could define hosts and hostgroups with relying on the search function (useful for me since I am in the process of a rollout, and I don't know that my Chef groups will match up exactly with

[2015-05-20 21:43] jhammerman79 commented on #395
Pastebin with my configs is here:

http://pastebin.com/KtMsUsLY

[2015-05-20 22:49] jhammerman79 commented on #395
Update: these hosts are all getting written into the termplates.cfg - is that intentional?

[2015-05-20 23:57] jhammerman79 commented on #395
More color: even when defined thusly:

nagios_host 'inf1' do
  options 'name'        => 'inf1.stg.prv',
          'use'         => 'server',
          'address'     => '172.16.1.11',
          'hostgroups'  => 'non-physical',
          'register'    => 1
end

The host is rendered in templates.cfg as:

define host {
  name        inf1.stg.prv
  use         server
  host_name   inf1
  hostgroups  in

[2015-05-21 00:00] TheCase commented on #395
re: "these hosts are all getting written into the termplates.cfg - is that intentional?"

if you include a host/service option of 'name', it will add it as a template.  You might want to change 'name' to 'alias' in this case if you want to get it into hosts.cfg

[2015-05-21 00:59] jhammerman79 commented on #395
Thanks, that solved the problem!

Shall I close this ticket and open a new one against the documentation? Feels like it should be mentioned that this will occur.

Thanks,
Joseph Hammerman

[2015-05-21 03:04] jhammerman79 opened #396 "Nginx config broken for Ubuntu 12.04"
Hi Nagios Cookbook devs,

In Ubuntu, after the nagios3.conf is dropped off, using the php dispatcher, I encountered the following issues:

This directive:

fastcgi_pass  unix:/var/run/nginx/phpwrap-dispatch.sock;

Should read:

fastcgi_pass  unix:/var/run/nginx/phpwrap-dispatch_sock;

And there's no cgi block, so Nginx looks in /usr/share/nagios3/htdocs for a cgi-bin directory.

I added this:

loc

[2015-05-21 20:51] joshskains opened #397 "Error: Host check command 'check-host-alive' specified for host"
Getting Error: Host check command 'check-host-alive' specified for host after upgrading nagios from 6.x to 7.x cookbook. Any help please?

[2015-05-21 21:27] sbotman commented on #397
Hi @joshskains, I'm on gitter.. https://gitter.im/schubergphilis/nagios please join and I might be able to help you

[2015-05-22 08:31] sbotman commented on #396
Hi Joseph,

Which installation of nagios are you using, the package or the source installation?
Would be nice to have some tests that check this, but I'm not a Ubuntu engineer.
Can you provide a PR with the needed changes?

Cheers Sander

[2015-05-22 08:56] sbotman commented on #395
Hi Joseph,

Will close the ticket because I have updated the wiki to be more clear about this.
Feel free to reopen the ticket if you have more remarks about this.

Cheers Sander

[2015-05-22 08:56] #395 closed, assigned to nobody

[2015-05-22 15:39] sbotman commented on #397
looks like the attribute default['nagios']['default_host']['check_command'] = 'check-host-alive' is set somewhere and saved on the node object. Within version 7.x of nagios I have renamed this to check_host_alive to be consistent with the naming of checks. But this is now causing problems with upgrading to newer version. Need to do some research on this.

[2015-05-22 18:15] GitBytes opened #398 "Inaccurate TravisCI link in README.md"
@sbotman @tas50
Hey guys,

Just letting you know that the link to TravisCI is still linking to Tim's old testing area for this cookbook..which has been redirected recently.

I think it needs to be updated to reflect:
https://travis-ci.org/schubergphilis/nagios

Cheers!
Ian

[2015-05-22 18:18] GitBytes commented on #398
Specifically in the supermarket version.. I am closing this ticket as it seems fixed in the master branch, sorry for the lame ticket. Thanks!

Ian

[2015-05-22 18:18] #398 closed, assigned to nobody

[2015-05-27 16:33] jhammerman79 commented on #396
Hi sbotman,

The installation method is default, which I believe is package.

I'd be happy to help, but I have to admit I have trouble reading the code for this cookbook.

Where are you calling the template to be rendered? And where do you set the string value to be rendered for the PHP socket?

I had to put in an fcgi server & dispatch as well. It's possible that I'm missing something, since as I

[2015-05-27 16:43] jhammerman79 opened #399 "Setting custom macros"
Hi Nagios cookbook development team,

Nagios has a provision for custom macros:

http://nagios.sourceforge.net/docs/3_0/customobjectvars.html

I need to set this for my redis checks to function:

http://support.nagios.com/forum/viewtopic.php?f=7&t=26608

I tried this:

nagios_host 'rds1' do
  options 'alias'        => 'rds1.stg.prv',
          'address'     => '172.16.2.40',
          'hostgroups'

[2015-06-01 16:23] veilig2000 opened #400 "using public IP for nodes outside VPC but still in the same cloud"
If my nagios is inside a VPC in the cloud (EC2), and I have nodes in the same cloud (EC2) but not in the VPC, is there a way to tell nagios to define the host of the nodes **NOT** in the VPC to use their public IP instead of their private?

It appeared to me the only way would be to change the provider attribute to something different.

https://github.com/schubergphilis/nagios/blob/ac84639957aec70

[2015-06-02 17:53] shurab opened #401 "Missing symlinks"
I have a following issue with nagios master branch when running 'kitchen converge' command. For simplicity sake I left in '.kitchen.yml' file platform section for centos-6.6 and use either server-server or server_source suite. In result I have this error:

The only option to fix it to replace symlink /test/integration/server_package/bats by real files.
Can someone make a comment about it? Does it

[2015-06-02 22:20] shurab commented on #401
I followed @sbotman advice and run these commands:

[code]

Unfortunately, the same error. It appear that kitchen does not follow symliks in test/integration/ tree.

[2015-06-19 11:51] bheuvel commented on #401
Apparently Test-Kitchen and symlinks don't always work as expected: test-kitchen/test-kitchen#503

A PR was made to provide cross-test code: test-kitchen/test-kitchen#134 but that doesn't actually execute the "crossed" tests ( see last comment of bbergstrom in test-kitchen/busser-serverspec#26 )

[2015-06-23 13:55] bphinney opened #402 "exclude_tag_host not being honored"
Docs suggest that setting a node['nagios']['exclude_tag_host'] attribute to a specific tag will cause all hosts that have that tag to be excluded from monitoring.  However, apparently, that specific attribute is not being referenced in any of the providers nor is it honoring that setting and excluding hosts that are tagged as such.

[2015-07-03 08:03] snkutlu commented on #402
@bphinney I will have a look on this.

[2015-07-09 00:45] m-tse opened #404 "services: `activate_check_in_environment` broken"
In the services data bag [section](https://github.com/schubergphilis/nagios/wiki/services) there is a field called `activate_check_in_environment` which lets you specify that a check only applies to a certain chef environment.  It seems this functionality was removed in some recent commit, and the README has not been updated.

In my fork, I implemented a quick [fix](https://github.com/firebase/nag

[2015-07-29 22:06] zetan503 opened #407 "nagios node hostname -> node.name?"
I love the chef -> nagios auto config. However the windows nodes are reporting their NetBIOS hostname and I'd rather have them report their chef node.name. I can't figure out where to make that change. Can you advise?

Thanks
-Zetan

[2015-07-30 13:51] sbotman commented on #407
Hi Zetan,

The chef nodes are loaded within the default config recipe, here:
https://github.com/schubergphilis/nagios/blob/master/recipes/_load_default_config.rb#L43

So while importing the node objects via push the push_node is done, here:
https://github.com/schubergphilis/nagios/blob/master/libraries/nagios.rb#L178

And for the hostname the get_hostname is called here:
https://github.com/schuber

[2015-08-01 12:54] sbotman commented on #407
Closing this issue, but please feel free to reopen if you have more questions about this.

[2015-08-01 12:54] #407 closed, assigned to nobody

[2015-08-12 00:17] sethrutnertrr opened #408 "unmanagedhosts environment key does nothing"
I am monitoring a device through a data-bag in unmanaged hosts and I wish to only monitor this device in the _default environment.  JSON is as so:

{
  "address": "10.1.99.1",
  "hostgroups": ["switches"],
  "id": "SF-SRX240",
  "environment":  "_default",
  "notifications": 1,
  "host_template": "generic-switch"
}

However, I have a monitoring server in environment 'New_Jersey' and this device an

[2015-08-12 01:03] sethrutnertrr commented on #408
I was able to create a fix for this here https://github.com/sprutner/nagios/commit/78f97c284f7fb363bb482fb32a3de744ab2613df

[2015-08-12 12:23] sbotman commented on #408
I have merged your fix within master. Had to fix the checkstyle, but if all tests are green I will push out a new version with our fix.

[2015-08-12 17:12] sethrutnertrr commented on #408
Sweet, my first merge/fix.

On Wed, Aug 12, 2015 at 5:23 AM, Sander Botman notifications@github.com
wrote:

##

---

Seth Rutner
Systems Engineer
The RealReal | therealreal.com

[2015-08-13 09:51] sbotman commented on #408
And thank you for pointing this out, your help is greatly appreciated!

[2015-08-17 20:44] TheCase opened #411 "using commas in nagios_service "check_command" option breaks stuff unexpectedly"
example (_checks-test.rb):

[code]

results in this in _services.cfg_:

[code]

Also, something else funky is happening, as I see this show up in the _commands.cfg_ file:

[code]

If I drop the commas from the check_command option, everything works as expected: with the exception that I still see a comment in the commands.cfg file:
`# Skipping system-load!15!30 because command_line is missing.`

I

[2015-08-17 21:00] sbotman commented on #411
Thats indeed strange behaviour.. Will need to investigate why this happens...
Please let me know if you find some pointers

[2015-08-17 21:30] TheCase commented on #411
In regards to the odd output in commands.cfg, it looks like the **check_command** option is mistaken for a **nagios_command** stanza during the **_find_object**_ phase in **libraries/nagios.rb**

using _-l debug_ switch during kitchen converge:

[code]

[2015-08-17 22:06] sbotman commented on #411
While I admit that the behaviour is not correct, can you please explain what you are trying to achieve?
Because I'm wondering why you use 'system-load!15,10,5!30,25,20' as the command name.
This could be the command line that you want to execute, but I cannot find any command named like that.

[2015-08-17 22:10] TheCase commented on #411
that is the check_command (with arguments) for that service.  I am not using that as a command name.  I updated my example recipe (added custom the nagios_command) above in hopes that it will clarify.

[2015-08-17 22:17] sbotman commented on #411
Got it..... And that functionality indeed doesn't work at the moment.
I have not tested anything with this kind of format, so we will need to add that..

[2015-08-17 22:22] sbotman commented on #411
What you can try in the meantime is escaping the ! and , with an \
That might do the trick...

[2015-08-17 22:35] TheCase commented on #411
that was the first thing I thought to try :)

Doesn't fix :(

[2015-08-18 14:17] sbotman commented on #411
@TheCase can you try the branch: https://github.com/schubergphilis/nagios/tree/enable_service_arguments

I think that should fix your problem, but need to review the impact of this.
Also still need to write some tests for it, but did some local testing and seems to work fine.

Please let me know how this works out for you....

[2015-08-18 15:18] sbotman commented on #411
While driving home I thought about this and think I made the wrong decision by adding the arguments to the command, while they should be part of the service. That would make more sense I think.. Will need to update the branch with that logic, but that I will do later tonight...

[2015-08-18 18:06] TheCase commented on #411
yeah - that fixed it, and I'm still using the same options as listed in the first post.

Thank you!

Still curious as to why the 'check_command' line is getting picked up as a nagios_command without a command_line option:

in commands.cfg:

[code]

[2015-08-18 19:26] sbotman commented on #411
I have updated the branch. Can you test again because I think this will also fix your missing line as here above.
Did a force push so you will need to delete your branch and fetch it again..

Only have the problem that if you don't specify the command separately and define everything within the service, that it will break the nagios config because the service name will be wrong.
But fixing that wi

[2015-08-18 19:52] sbotman commented on #411
On the other hand, this should be sufficient for now.
I was still thinking about something like this, for example you specify this within your cookbook:

[code]

With the current setup, this goes correct but your service name will contain illegal values.
But this will also work for stuff thats defined within databags....
So will need to parse this and replace the illegal values to _ or something..

[2015-08-19 00:32] darrencassar commented on #402
@snkutlu any news on this bug?

[2015-08-19 09:25] #408 closed, assigned to nobody

[2015-08-19 09:26] sbotman commented on #402
@snkutlu please check https://github.com/schubergphilis/nagios/tree/exclude_tag_host
Still need to write some tests for this....

[2015-08-19 09:41] sbotman commented on #404
This fix was merged into master, closing this issue.

[2015-08-19 09:41] #404 closed, assigned to nobody

[2015-08-19 09:45] sbotman commented on #399
Hi @jhammerman79, did you find any solution/work around for this or is this issue still open?

[2015-08-19 09:49] sbotman commented on #397
I believe we spoke on this on Gitter and discovered that while migrating from cookbook version 6.x to 7.x it's introducing this bug. Since it's a while back, I don't remember what we have done to fix this. Maybe @joshskains can refresh my memory :)

[2015-08-19 09:58] sbotman commented on #359
This is related to ticket #397

[2015-08-19 10:01] sbotman commented on #390
Hi @blueharford, think that we never had a chat about this or I don't remember. Is this issue still open or did you find a solution for your problem? Please share :)

[2015-08-19 10:09] sbotman commented on #396
Hi @jhammerman79
A while ago we have changed the nagios config creation so that it will grab all the settings you set under default['nagios']['conf']['your_settings']
So you should be able to change the fastcgi_pass just by adding the attribute on the nagios server.
Is this solving the problem above or is this issue something different?

[2015-08-19 11:39] sbotman commented on #402
@darrencassar can you please look at pull request: https://github.com/schubergphilis/nagios/pull/412
Think this will solve your problem, please let me know.

[2015-08-19 12:18] sbotman commented on #400
You should be able to override the default['nagios']['address'] field per node for the IP address that you want to use to connect to from your nagios server. Please let me know if this solves your problem.

[2015-08-19 22:48] darrencassar commented on #402
Works like a charm - thank you :+1:

[2015-08-20 13:53] sbotman commented on #402
Cool, only need the review from @snkutlu and hopefully he will merge it for me...

[2015-08-20 18:14] blueharford commented on #390
@sbotman i havent found a solution, just changed our nagios from htaccess to ldap. so its sometihng i am going to be investigating asap.

[2015-08-21 09:28] sbotman commented on #390
Great, let me know if I can help you with something...

[2015-08-30 16:34] isavoy commented on #400
Is this not how the host's address attribute is being set?

https://github.com/schubergphilis/nagios/blob/ac84639957aec7039c12bc6875c510b32975ccb5/libraries/nagios.rb#L288

Could the logic from the ip_to_monitor function be integrated into the push_node function? If that happened, we could define a separate cloud provider in ohai hints for vpc, and add logic to ip_to_monitor to differentiate betwe

[2015-08-30 20:51] sbotman commented on #400
Yes, but the line below your pointer will overrule the address if the node['nagios']['address'] field is populated. So setting this field with your desired IP address should fix the IP problem.
We can also use the ip_to_monitor function as you suggest, will create a PR for that.

Gr Sander

[2015-09-02 00:06] kplimack opened #415 "contacts are being rendered in templates.cfg instead of contacts.cfg"
this should be rendering in contacts.cfg without the register 0 line.  shouldn't be a tempate.

define contact {
  name           Jake Plimack
  use            default-contact
  contact_name   kplimack
  contactgroups  admins,admins-sms
  email          /dev/null
  register       0
}

then the configcheck barfs that my user doesn't exist.

[2015-09-02 08:20] sbotman commented on #415
It seems that you have given the contact a name, which indicates that you are creating a template. So the logic is correct and you only should remove the name attribute. This will fix your problem.

[2015-09-02 08:20] #415 closed, assigned to nobody

[2015-09-03 13:14] sbotman commented on #402
Code is merged within master with PR #412 and even bug fixed with PR #414. Closing issue.

[2015-09-03 13:14] #402 closed, assigned to nobody

[2015-09-03 14:23] sbotman commented on #411
@TheCase do you have any comments on this? And did you manage to test the updated branch?

[2015-09-03 14:27] sbotman commented on #400
Have closed my pull request because I don't like the solution. Really want to review this solution and think about a proper implementation. If somebody could help me with this, I would really appreciate this!

[2015-09-03 14:29] sbotman commented on #401
I will close this issue because it's more related to kitchen as I understand the above correctly. But please feel free to reopen this if I interpreted this incorrectly.

[2015-09-03 14:29] #401 closed, assigned to nobody

[2015-09-03 23:15] TheCase commented on #411
made some time for this.  It is not working correctly.  Anything after the first bang in the check_command option is now truncated.  Your test stanzas above create the following in services.cfg:

[code]

[2015-09-08 14:56] sbotman commented on #411
@TheCase thank you for the feedback, I will need to review why this goes wrong :(

[2015-09-10 10:13] sbotman commented on #411
@TheCase I have fixed the problem and also added some test kitchen checks.
Can you test again please :)

[2015-09-10 16:19] sbotman commented on #411
created PR #416 for this issue..

[2015-09-10 16:58] sbotman commented on #399
@jhammerman79 I have fixed this issue on branch: https://github.com/schubergphilis/nagios/tree/enable_custom_options
Only want to add some tests before creating a pull request for this one.
But this should solve your problem.

Gr Sander

[2015-09-10 17:06] TheCase opened #417 "allow custom "make" for server_source recipe"
It seems they have made the old red/black theme default again - and I liked the cleaner exfoliation UI.

I'd submit a PR, but I'm not sure if it is best to open it up to allow for any custom "make" addition or just add a new attribute for "exfoliation_ui" that adds "make install_exfoliation" to the source build/install command.

[2015-09-10 17:10] sbotman commented on #417
I would go with the most configurable option and set your preferred option as default :wink:

[2015-09-10 17:11] TheCase commented on #417
ok - I'll put together a PR for this.

[2015-09-10 17:22] sbotman commented on #397
I remember this one again, this one was due to the fact that the nagios server contained a attribute pointing to the check-host-alive.  Once this one was removed, the problem was fixed.
So once you start a migration of the cookbook, you might want to check the node attribute and remove and conflicting attributes.

[2015-09-10 17:22] #397 closed, assigned to nobody

[2015-09-10 17:23] sbotman commented on #359
Also related to the node attributes while doing a migration. All conflicting attributes should be removed while migrating.

[2015-09-10 17:23] #359 closed, assigned to nobody

[2015-09-10 18:02] TheCase commented on #411
yes - tests look good.  Thanks!

[2015-09-10 19:14] #411 closed, assigned to nobody

[2015-09-14 02:51] justizin opened #419 "check_interval and similar settings render as float"
Nagios seems to interpret these as minutes instead of seconds, so e.g. instead of 15s, the default intervals are 15min.

[code]

This is on Ubuntu 14.04 with chef 12.4.1.

I'm happy to help test variations of my current setup and produce a chefspec test that fails or somesuch, but I wanted to start documenting this as I've spent a good bit of time digging into it.

It seems like there might be cod

[2015-09-14 09:35] sbotman commented on #419
Well, this part of code is quite old and may need some updating. Reading the documentation and the logic within the function, I think that the idea was to correct the user input and making it so that the input is always in seconds. And this function would convert the input into minutes (according to the interval_length setting)

So if my node['nagios']['interval_length'] = 60 (sec)
And you specify

[2015-09-14 17:58] justizin commented on #419
Interesting stuff, let me know how I can help!

[2015-09-16 01:32] zetan503 commented on #407
Hi sorry for the long delay,

In my nagios wrapper cookbook, I have this set in attributes/default.rb
default['nagios']['host_name_attribute'] = 'name'

However the names are still coming out with hostname.

knife search node 'name:ord12-p-cxpr-dir-01' -Fj |grep hostname
    "hostname": "ORD12PCXPRDIR01",

knife search node 'name:ord12-p-cxpr-dir-01'
Node Name:   ord12-p-cxpr-dir-01

define host {

[2015-09-16 03:27] ovaistariq opened #420 "The version 7.2.0 of the Nagios cookbook breaks Apache"
The following line was added to the nagios::apache recipe which breaks apache on restart

[code]

The error is the following:
Starting httpd: httpd: Syntax error on line 106 of /etc/httpd/conf/httpd.conf: Syntax error on line 1 of /etc/httpd/mods-enabled/mpm_prefork.load: Cannot load /usr/lib64/httpd/modules/mod_mpm_prefork.so into server: /usr/lib64/httpd/modules/mod_mpm_prefork.so: cannot open s

[2015-09-16 03:40] ovaistariq opened #421 "The PagerDuty integration is broken"
The nagios::pagerduty recipe does not add the pagerduty contacts to the "admins" contact group.

[2015-09-16 08:07] sbotman commented on #407
which version of the cookbook are you using?

[2015-09-16 08:10] sbotman commented on #420
I personally don't use the apache configuration and use nginx, but it seems to me that you are missing the mpm module on disk. So I hope that you have a suggestion on how to fix this or maybe @ChrisLundquist can help with this as he suggested the change in PR #342

[2015-09-16 08:22] ChrisLundquist commented on #420
Yeah, I agree the module doesn't seem to be installed. At the time I ran it `apache2::mpm_prefork` installed the needed packages.

I'm running Ubuntu 14.04.2, here are the relevant files

[code]

Here are the apache packages I have.

[code]

[2015-09-16 11:24] sbotman commented on #421
You are correct and the big question is if it's needed.... The accounts that are created for pagerduty are Pseudo-Contacts, so don't know if these should be also admin. I will contact the people at pagerduty and ask for advice for this issue.

[2015-09-16 14:02] zetan503 commented on #407
Was 7.1.2 then pulled down 7.2.0 yesterday
On Sep 16, 2015 1:07 AM, "Sander Botman" notifications@github.com wrote:

[2015-09-16 14:15] sbotman commented on #407
interesting... please join me on gitter and lets chat... https://gitter.im/schubergphilis/nagios

[2015-09-16 14:20] sbotman commented on #399
branch is merged so will close this ticket. Please feel free to reopen the ticket if you still experience issues.

[2015-09-16 14:20] #399 closed, assigned to nobody

[2015-09-16 14:31] ovaistariq commented on #420
On RHEL, at least, the mpm modules do not need to be installed separately.

[2015-09-16 14:40] zetan503 opened #422 "node['nagios']['host_name_attribute'] not working"
I noticed my Windows chef nodes were configuring in nagios as their NetBIOS short name, and I wanted the chef node name instead. In my nagios wrapper cookbook, I set the value to 'name' so chef will pickup node.name, not node.hostname

node['nagios']['host_name_attribute'] = "name"

However this made no difference.
in nagios/libraries/nagios.rb printing of obj['host_name_attribute'] came out blank

[2015-09-16 14:40] ovaistariq commented on #421
Even if they are not added to the admins contact group, they would need to be added to one or more contact groups so that nagios can send alerts to them which will then be transformed into pages. Right?

[2015-09-16 21:20] #422 closed, assigned to nobody

[2015-09-16 22:05] ovaistariq commented on #420
The prefork module is compiled in as can be seen below:

[code]

[code]

[2015-09-16 22:09] ChrisLundquist commented on #420
It sounds like the apache2 cookbook doesn't take this into account when it generates `/etc/apache2/mods-enabled/mpm_prefork.load` which sets the path to load the module

[2015-09-16 22:12] ChrisLundquist commented on #420
It looks like there is an open issue https://github.com/svanzoest-cookbooks/apache2/issues/364

[2015-09-16 22:44] svanzoest commented on #420
You do not want load a new MPM via the recipe, such as `include_recipe 'apache2::mpm_prefork'`, you will want to change the MPM via `node['apache']['mpm'] = 'prefork'`

[2015-09-17 01:34] ovaistariq commented on #420
I have followed the logic of the apache2 cookbook and I agree that we do not want to include the mpm_prefork recipe, instead we should set the mpm attribute. I will file a PR.

[2015-09-17 08:39] sbotman commented on #420
Thank you all for your support on this.... very much appreciated...
PR is merged so will close the ticket

[2015-09-17 08:40] #420 closed, assigned to nobody

[2015-09-17 22:16] sbotman commented on #417
Merged

[2015-09-17 22:16] #417 closed, assigned to nobody

[2015-09-17 22:56] sbotman commented on #419
I think that I have broken this when I moved all the nagios attributes into the config.rb attribute file and added the ['conf'] section to all attributes. Because while I was doing that, I have put the interval_length on 60 (the default), while it was 1. 1 would mean 1 second and would mean that all inputs would be treaded as seconds and solve the problem. But then I was look at the nagios_interva

[2015-09-18 01:29] justizin commented on #419
I'm happy to try putting that in a branch in my fork and give it some testing, when I get the time.

[2015-09-19 17:48] ovaistariq commented on #420
@sbotman when is the next release of the cookbook expected?

[2015-09-19 17:58] sbotman commented on #420
I you want one, I will create one...

[2015-09-19 18:23] ovaistariq commented on #420
@sbotman it would be nice to get a hot fix release for this particular fix, as the cookbook may be broken for users running it on CentOS/RHEL.

[2015-09-19 18:29] sbotman commented on #420
agreed, will do..

[2015-09-19 18:41] ovaistariq commented on #420
Thanks I appreciate it.

[2015-09-19 18:44] sbotman commented on #420
Deploy is done and you're welcome, thanks for helping out...

[2015-09-28 23:37] justizin commented on #419
BTW, looking into this again today, but it's still unclear why some values render as decimal, and how that can be prevented.

Maybe there are two issues: one with the rendering of the values, another with the default values themselves.

[2015-10-02 04:46] joshskains opened #426 "Notification Commands Check Fail"
define command {
  command_name  service_notify_by_sms_email
  command_line  /usr/bin/printf "%b" "$SERVICEDESC$ $NOTIFICATIONTYPE$ $SERVICESTATE$\n\n$SERVICEOUTPUT$" | /bin/mail -s "$HOSTALIAS$ $SERVICEDESC$ $SERVICESTATE$!" $CONTACTPAGER$
}

But I get:
## RuntimeError

Nagios::Contact fail: Cannot find command service_notify_by_sms_email please define it first.

[2015-10-02 08:19] sbotman commented on #426
the problem is not in the command definition, but in a contact creation thats failing... might be some ordering error since you have defined the command... will check the ordering...

[2015-10-02 15:20] lamroger opened #427 "unmanaged_hosts should also look at multi_environment_monitoring environment"
https://github.com/schubergphilis/nagios/blob/master/recipes/_load_databag_config.rb#L146
should look like
https://github.com/schubergphilis/nagios/blob/master/recipes/_load_databag_config.rb#L26
where it iterates through the allowed environments

[2015-10-03 00:03] jolcese commented on #426
I have the same problem...

[2015-10-03 00:34] jolcese opened #428 "Unable to use global host event handler"
Hi,
I'm trying to use a global host event handler thru:

(showing only this attribute)
default_attributes(
  :nagios => {
    :conf => {
      :global_host_event_handler => 'downscale_handler'
    }
  }
)

Which creates on nagios.conf this:
global_host_event_handler=downscale_handler

The problem is that the handler never gets called when a host is down...
Any ideas?

Thanks

[2015-10-03 00:44] jolcese commented on #428
My bad. it's properly working :)

[2015-10-03 00:44] #428 closed, assigned to nobody

[2015-10-03 11:10] sbotman commented on #421
I tried to contact the peeps at pager-duty, but didn't got any response from them.
Did you manage to fix the issue in the meantime?

[2015-10-03 11:12] sbotman commented on #419
Think that it is better that we remove the logic and force the interval_lenght to 1 second (we use this internal and works fine). This way the whole checking of the value doesn't need to be done...

[2015-10-03 11:16] sbotman commented on #396
@jhammerman79 I close this ticket because I think it's solved with my comment here above. Please feel free to reopen the ticket if you still have problems with this. KR, Sander

[2015-10-03 11:16] #396 closed, assigned to nobody

[2015-10-03 11:19] sbotman opened #430 "Problem populating timeperiods from databag"
Databag:
{
"id": "josh.skains",
"alias": "Joshua Skains",
"times": [
"sunday 09:00-17:00",
"monday 09:00-17:00",
"tuesday 09:00-17:00",
"wednesday 09:00-17:00",
"thursday 09:00-17:00",
"friday 09:00-17:00",
"saturday 09:00-17:00"
]
}

is populated as:

define timeperiod {
timeperiod_name josh.skains
alias Joshua Skains
}

[2015-10-03 12:02] #430 closed, assigned to nobody

[2015-10-03 12:25] #426 closed, assigned to nobody

[2015-10-03 14:25] sbotman commented on #419
@bitmonk, is PR #433 something that will work for you?

[2015-10-03 23:50] ovaistariq commented on #421
@sbotman can you have a look at my PR. That basically allows the contact to be added to the admins group, meaning that every alert causes a page to be sent by PD.

[2015-10-03 23:57] ovaistariq commented on #421
In my case I have different people in my team responding to different alerts by services, for example, network related pager goes to someone else, database related pager goes to someone else and so on and so forth.
To accomplish that I did the following:
- Create separate data bag items for database and network pagerduty contacts inside the nagios_pagerduty contact.
- Define a data bag item for ne

[2015-10-04 00:01] ovaistariq opened #435 "Additional items for pagerduty integration"
The perl-CGI package and the pagerduty.cgi scripts need to be setup for two-way pager duty integration.

[2015-10-04 09:17] sbotman commented on #435
This solution breaks the installation on ubuntu, so I guess you are using Redhat/Centos as your distro

[code]

Wondering if this package is really needed for the pagerduty perl script, but if this is the case, we should also add the right package name for ubuntu. Maybe @tas50 can help out here because he has more experience with ubuntu boxes.

[2015-10-04 15:29] jolcese commented on #426
I still have the same issue when I define my own command for notifications (I.e. service_nofify_by_awssns)
The contact using it fails to create.
Thanks

[2015-10-04 16:41] ovaistariq commented on #435
My bad that I didn't test in Ubuntu

[2015-10-04 23:28] lamroger opened #437 "Loading unmanaged_hosts from data bag conditional is incorrect"
https://github.com/schubergphilis/nagios/blob/master/recipes/_load_databag_config.rb#L146

I think it should be
`next if item['environment'].nil? || item['environment'] != node.chef_environment`
instead of
`next unless item['environment'].nil? || item['environment'] == node.chef_environment`

If that sounds good, I can create a pr and write a test case.

[2015-10-04 23:29] lamroger commented on #437
plus we might want to consider when `multi_environment_monitoring` is enabled

[2015-10-04 23:31] lamroger commented on #437
Noted the multi_environement issue here already https://github.com/schubergphilis/nagios/issues/427
Forgot I already opened an issue for that

[2015-10-05 12:37] sbotman commented on #437
You are right, this checking is indeed a bit strange and don't know what I was drinking when writing this ;)
If you create the PR, I will be more than happy to merge it for you...

[2015-10-05 13:20] sbotman commented on #426
@jolcese just wrote something on the wiki about this... please read https://github.com/schubergphilis/nagios/wiki/cookbook_example and let me know if this helps..

[2015-10-05 16:09] jolcese commented on #426
Thanks sbotman!.
I'll try it this morning and let you know if it works.
Jose

[2015-10-05 16:46] jolcese commented on #426
No luck with the wrapper:

[code]

And still getting this error:

[code]

[2015-10-05 16:50] sbotman commented on #426
that sucks big time...

[2015-10-05 17:02] sbotman commented on #426
please join me on gitter https://gitter.im/schubergphilis/nagios so we can checkout the problem.. because this should work what you are doing here... must be something else wrong...

[2015-10-05 18:11] #421 closed, assigned to nobody

[2015-10-05 18:22] #435 closed, assigned to nobody

[2015-10-05 20:20] #419 closed, assigned to nobody

[2015-10-05 23:48] lamroger commented on #437
Looks like you're already on it! Thanks for maintaining and being so active!
I blame Ruby's `unless` haha. I always have to double check

[2015-10-06 23:29] lamroger opened #439 "node['nagios']['interval_length'] should be node['nagios']['conf']['interval_length'] in the README"
The attribute moved during one of the major updates and the README never got updated.

Side note: It was confusing when all conf attributes needed to be strings to be applied.

[2015-10-06 23:36] lamroger commented on #439
Made a PR here.
https://github.com/schubergphilis/nagios/pull/440

[2015-10-07 07:56] sbotman commented on #439
merged pr

[2015-10-07 07:56] #439 closed, assigned to nobody

[2015-10-07 08:02] sbotman commented on #439
Think that we can also fix the string problem... created #441 for this..

[2015-10-07 08:03] sbotman opened #441 "All conf attributes needed to be strings to be applied."
Thank you for pointing this out @mrlamroger.

[2015-10-07 08:06] sbotman commented on #437
I have merged my PR because I didn't get any comment on it :)

[2015-10-07 08:06] #437 closed, assigned to nobody

[2015-10-07 08:06] sbotman commented on #427
Code is merged, closing the ticket.

[2015-10-07 08:06] #427 closed, assigned to nobody

[2015-10-07 20:57] justizin commented on #419
I'm still confused as to how they ended up rendering as float, but that has seemed to have stopped, and at a glance, it looks sensible.  Hooray!

[2015-10-08 08:19] sbotman commented on #419
In the old code:

[code]

The `interval = seconds.to_f / node['nagios']['interval_length']` converted the interval into a float. So all interval's were rendered as float.

[2015-10-08 08:20] sbotman commented on #441
fixed with PR #442

[2015-10-08 08:20] #441 closed, assigned to nobody

[2015-10-08 19:17] timw077 opened #443 "Nagios and apache use two different variables to set the timezone."
I'm not sure if there is a case where someone would want nagios to not use the same timezone as apache.

attributes/config.rb:default['nagios']['conf']['use_timezone']                                = 'UTC'
attributes/default.rb:default['nagios']['timezone']      = 'UTC'

templates/default/apache2.conf.erb:  SetEnv TZ "<%= node['nagios']['timezone'] %>"

Since the node['nagios']['conf']['use_timez

[2015-10-08 20:40] sbotman commented on #443
LGTM Tim! I would like to merge but would you be so kind and remove the version bump...

[2015-10-08 20:59] timw077 commented on #443
@sbotman done.

[2015-10-08 21:06] sbotman commented on #443
Awesome!

I have deployed a new version yesterday and bumped the version for development. Guess more updates will follow and don't like to deploy a new version on a daily basis...
Somewhere next week I would probably deploy a new version, so therefor my question :)
So thank you for your support and fix!

Cheers Sander

[2015-10-08 21:21] sbotman commented on #443
merged

[2015-10-08 21:21] #443 closed, assigned to nobody

[2015-10-10 19:58] justizin commented on #419
thanks for breaking it down @sbotman and thanks for the fix! :100:

[2015-10-19 16:59] jwilf opened #446 "CGI pages not loading on RHEL with package installs"
Same issue as https://github.com/schubergphilis/nagios/issues/326 appearing in 7.2.4

Running on CentOS 6.6 all cgi pages show 404 e.g.

The requested URL /cgi-bin/nagios/status.cgi was not found on this server.

If I set it as follows in my wrapper cookbook the issue is resolved:

default['nagios']['cgi-path'] = '/cgi-bin/nagios'

The default value '/nagios/cgi-bin/' does not match the value in c

[2015-10-21 16:46] jwilf commented on #446
Closing - just found that on a clean install this does not happen.

[2015-10-21 16:46] #446 closed, assigned to nobody

[2015-10-22 17:22] sbotman opened #448 "use_escalation attribute not working as written on the wiki"
According to the escalation wiki page, you should be able to use the use_escalation attribute in services to attach the escalations to it. Is that supposed to work? I haven't been able to get it to work, and when I grep'ed through the repository, I couldn't find a single reference to it.

[2015-10-29 20:56] ikrauchanka opened #452 "Error: Host 'server' specified in host group 'linux' is not defined anywhere!"
Hi,
I have a server with hostname server.myco.com. This server was bootstrapped with knife + manage.chef.io.When I run chef-client  it fails on nagios reload.
Nagios checkconfig shows:

[code]

[code]

But when I set different environment for server - chef-client complete successfully.

What I have to do if I have a bunch of hosts with :
1. server.*
2. server.myenv.domain.com
3. server2.mysql.myen

[2015-10-30 03:46] jstange opened #453 "7.2.4 trips over nodes without any tags"
**recipes/_load_default_config.rb** assumes it's going to have a tags attribute, and throws a NoMethodError if any nodes in the land don't have tags:

[code]

You could stick a _rescue NoMethodError_ in there, I suppose. That's probably not the right thing, but it's what I just did to keep this thing from falling over on me.

[2015-11-08 20:00] #452 closed, assigned to nobody

[2015-11-09 09:18] sbotman commented on #452
I guess you found the solution before I found some time to react to this :+1:
Think this is related to the fact that the default is using server as template name, hence it cannot be used.
If you name your servers differently, like svr01, svr02, etc, etc.. all should be fine.

[2015-11-09 09:22] sbotman commented on #453
I see the problem, and I indeed made the assumption that all nodes have tags. Will fix...

[2015-11-09 09:48] ikrauchanka commented on #452
Hello Sander,
I guess you're very busy. Your cookbook is great workable solution to mitigate the pain with adding/removing ec2 when they are under autoscalling and born and die each minute.
But one thing what we need is proper documentation for not highly skilled users in chef.
Yes, I can read what you meant in libraries, but there are some places where it is not so easy to understand, for example

[2015-11-09 10:01] sbotman commented on #452
Hi Illia,

I was indeed quite occupied this week. Also the nagios cookbook is more like a private project, because it's not directly connected to my work at this moment. Initial the cookbook was created by other peeps/companies, so really cannot take credit for this. The fact that it's hard to read for staring chef-users and missing examples is totally my fault! I did try to add wrapper examples t

[2015-11-09 11:53] sbotman commented on #453
John, does this PR #456 work for you?

[2015-11-09 20:48] sbotman opened #457 "excluding hosts with ! doesn't work for second host with inheritance modifiers"
Seems that excluding hosts with the ! modifier will work only for the first node if input is given like:

[code]

The current result will be something like:

[code]

[2015-11-11 09:09] sbotman commented on #453
@jstange can you review/retest this and share your comments?

[2015-11-11 18:06] jstange commented on #453
No joy. `n.tags` is undefined under these circumstances, not empty, so you'll get roughly the same result:

[code]

[2015-11-11 19:58] sbotman commented on #453
Well that's strange, node objects should always respond to 'tags'.
And the nagios_array function should always return something that's not nil.
So I don't understand why you get this NilClass error with...

I just updated the PR, can you test this one for me?

[2015-11-12 17:08] sbotman opened #459 "error: undefined method `push' for #<Nagios::Command:0x000000106bc870>"
Having the following hostgroup databag breaks the chef run...
{
 "id": "mem",
 "hostgroup_name": "linux",
 "command_line": "/usr/lib64/nagios/plugins/check_nrpe -H $HOSTADDRESS$ -c check_mem -t 20",
 "_graphiteprefix": "qa.metrics.mem"
}

[2015-11-15 11:06] sbotman commented on #453
@jstange, the current fix within master should solve the problem. Will close the issue for now, but feel free to reopen if you still experience issues with this.

[2015-11-15 11:06] #453 closed, assigned to nobody

[2015-11-15 11:07] sbotman commented on #457
Fixed be merging PR #458

[2015-11-15 11:07] #457 closed, assigned to nobody

[2015-11-16 15:27] jstange commented on #453
Looks good. Thanks!

[2015-11-16 16:04] sbotman commented on #459
Issue is fixed after merge.

[2015-11-16 16:04] #459 closed, assigned to nobody

[2015-11-16 16:12] sbotman commented on #448
Related to PR #449, still need to update the wiki

[2015-11-16 20:02] sbotman commented on #448
Updated the wiki

[2015-11-16 20:02] #448 closed, assigned to nobody

[2015-11-17 14:24] blueharford opened #464 "merge in latest code.. error in array"
NoMethodError

---

  No resource or method named `nagios_array' for`Chef::Recipe "nagios_nodes"'

   31:
   32:  # Pushing current node to prevent empty hosts.cfg
   33:  Nagios.instance.push(node)
   34:
   35:  # Pushing all nodes into the Nagios.instance model
   36:  nodes.each do |n|
   37:    include = true
   38>>   nagios_array(n.tags).each do |tag|
   39:      include = false if node['na

[2015-11-17 15:04] sbotman commented on #464
Looks like your merge is not correct: https://github.com/schubergphilis/nagios/blob/master/libraries/default.rb#L36

Please clone the project again and should be fixed

[2015-11-17 15:04] #464 closed, assigned to nobody

[2015-11-17 15:14] blueharford commented on #464
its there in my library

def nagios_array(exp)
  return [] if exp.nil?
  case exp
  when Array
    exp
  when String
    [exp]
  end
end

[2015-11-17 15:19] sbotman commented on #464
it must be merging some cookbooks while uploading or something. You also have this code on the disk in the cache directory of chef?

[2015-11-17 16:21] joshskains opened #465 "Nagios 4.x"
Are there plans to support this?

[2015-11-17 16:29] sbotman commented on #465
4.x should work fine.. Are you running into problems with 4.x?

[2015-11-17 16:30] sbotman commented on #464
let's chat on gitter if you still have problems with this...

[2015-11-17 16:33] joshskains commented on #465
I haven't even tried. All the defaults, including paths, etc. go to "nagios3". We are running on 3.5.1 because of the defaults, but have been asked about 4.x. Do I just need to change a version number in a role?

[2015-11-17 16:40] joshskains commented on #465
mcp@scripts-vp01a ~/wgu/chef-repo/cookbooks/nagios/attributes $ cat default.rb | grep source
  default['nagios']['resource_dir']  = '/etc/nagios'
  default['nagios']['resource_dir']  = '/etc/nagios3'
  # install via source on RHEL releases less than 6, otherwise use packages
    default['nagios']['server']['install_method'] = 'source'
  default['nagios']['server']['install_method'] = 'source'

# f

[2015-11-17 16:48] joshskains commented on #465
So I deleted /usr/sbin/nagios and allowed Chef to recompile. Hopefully that will work.

[2015-11-19 18:50] jldugger opened #467 "API Key is stored unencrypted"
This cookbook's options for receiving PagerDuty API keys are attributes or unencrypted data bags, neither of which are considered sufficiently secure by our operations team. We need a way to provide the API key from an encrypted data bags without passing it through an attribute.

[2015-11-23 20:28] veilig2000 opened #468 "exclude hostgroup in service"
I'm trying to exclude a hostgroup in a service from a databag.

[code]

I created the heartbeat hostgroup in a another databag and it exists in the hostgroups.cfg on my nagios server. When I try to exclude it w/ an exclamation mark in my service databag (see above), a new (empty) hostgroup is created in my hostgroups.cfg and then the service[reload] of chef complains about it.

[code]

Here's my e

[2015-11-24 17:41] trilitheus opened #469 "Wiki for timeperiods data bag needs updating"
Hi the format shown in the wiki for the timeperiods is incorrect.
The example should read as follows.
I've edited the wiki directly - hope this is OK!

[code]

[2015-11-24 19:47] sbotman commented on #469
Thank you very much @trilitheus for the update! Very much appreciated!

[2015-11-24 19:47] #469 closed, assigned to nobody

[2015-11-25 08:38] sbotman commented on #467
Can you give an example of which API key are we talking about here?

[2015-11-25 17:34] karnold opened #471 "New nodes not getting added to config properly"
All of the nodes that existed when i initially added the nagios cookbook were added successfully.  Now I have created a new node that needs monitored as well and it does not seem to be configured like the other ones.

The node in question is named "albers"  As you can see from the output of my configuration, it is getting added to templates.cfg but not to any other configuration files.  a quick lo

[2015-11-25 17:44] sbotman commented on #471
You should takeout the name from the options. Specifying a name will indeed turn the node into a template which you can use to define the template (with use). If you want, you can change name into alias.

[2015-11-25 18:00] karnold commented on #471
That did indeed prevent them from being created as templates.  but the "albers" node is still not getting added to the hostgroup configs while the others are

[code]

[2015-11-25 18:04] sbotman commented on #471
Can you join me on gitter: https://gitter.im/schubergphilis/nagios

[2015-11-25 19:15] jldugger commented on #467
Yea, sorry. I'm specifically referring to the PagerDuty API key, as in

https://github.com/schubergphilis/nagios/blob/master/recipes/pagerduty.rb#L119

[2015-11-25 19:26] sbotman commented on #467
Oke, two ways to solve this...

One, we fix the cookbook code...

Two, you create a wrapper cookbook, depend on the nagios cookbook and in your cookbook recipe you do:

[code]

So as you see, you can update / change any configuration item after loading the defaults by just specifying them and updating one of the fields.

[2015-11-25 19:32] jldugger commented on #467
Indeed, our plan is to fix this locally with our wrapper cookbook, but also push to get this fixed upstream. The first step of getting this fixed upstream is to make sure upstream wants it fixed, and thus this issue.

But thank you for pointing out that configuration items can be updated. I was expecting to use chef-rewind, but this is more elegant by far.

[2015-11-25 19:33] sbotman commented on #471
karnold 20:15
found the issue.... multi_environment_monitoring needed to be set to true.

[2015-11-25 19:33] #471 closed, assigned to nobody

[2015-12-17 21:18] joshskains commented on #465
Worked doing that.

[2015-12-17 21:18] joshskains opened #474 "NRDP"
Hey, any support for NRDP?

[2016-01-06 20:54] ghost opened #476 "notification_interval of zero should be allowed"
a recent change to libraries/default.rb added a rule that goes fatal if an interval attribute is zero.  This needs to be removed, as 'notification_interval = 0' is a valid setting:

[code]

[2016-01-06 21:04] ghost commented on #476
an alternative to removing the conditional would be to add an additional argument to the nagios_interval function.

if 'retry' or 'check', run the zero check.  If 'notification', don't run the zero check.

I'll drum up a PR

[2016-01-06 21:40] ghost commented on #476
created PR #477

ugh.  rubocop!  Try again with #478 :)

[2016-01-26 12:49] aktarali opened #480 "Centos 7 Failed to obtain lock on file /var/run/nagios.pid: Permission denied"
On Centos/RedHat 7 you are not supposed to write directly to the /var/run directory, but you got a subdirectory /var/run/nagios. Check that the lock_file option points there instead like this:

lock_file=/var/run/nagios/nagios.pid

Please change accordingly.

[2016-02-22 09:12] #480 closed, assigned to nobody

[2016-03-08 21:32] nkadel-skyhook opened #482 "Publish $USER$ values for /etc/nagios/resource.cfg from role or data bag"
The "$USER$" values normally deployed in /etc/nagios/resource.cfg can be very useful for keeping mysql or other passwords out of direct source control entries, or for other shared values which should not be directly in the command options. Is it feasible to activate a role based, or even encrypted data bag based, access to set these resources?

[2016-03-09 12:26] sbotman commented on #482
You should be able to manage the resources within the resources.cfg via the nagios_resource provider.
Example:

[code]

You should be able to use this anywhere, so also within your wrapper cookbook.
And then you can then use the $USER2$ anywhere you like, as for example as the password for mysql.

HTH
Sander

[2016-03-13 03:40] romanticrobot opened #483 "Defined commands are not found in defined contact data bags due to wrong loading order"
in _load_databag_config.rb contacts are loaded, and validated, before eventhandlers are, so any defined notification commands are not found causing chef to throw an error

the fix is easy, just reorder _load_databag_config.rb so the eventhandlers are loaded before the contacts

`Nagios::Contact fail: Cannot find command notify_service_by_slack please define it first.`

to reproduce have 2 data bag

[2016-03-15 12:52] Paul424 opened #485 "more detail/example needed to get going"
If you're not familiar with Nagios (like myself) it's difficult to get going with these cookbooks (nagios+nrpe). For me it would really help to have a small example to get basic monitoring counters included for a small cluster. With a small example working it;s much easier to scale up...

For example what is not clear now:
- when do i need nrpe? Where to install it? How do these connect to the ser

[2016-03-15 17:04] sbotman commented on #485
Hi Paul,

It's indeed very hard to start with this cookbook while you don't have any experience with Nagios.
So I would start with the Nagios documentation on https://assets.nagios.com/downloads/nagioscore/docs/nrpe/NRPE.pdf

But I will try to answer your questions:
NRPE client is used to execute scripts/executables that check something and report this back to nagios.
NRPE client is installed on t

[2016-03-22 19:47] ikrauchanka commented on #485
Hello Paul,
I agree with Sander. Try to install and configure nagios manually, without cookbook. Once you get familiar with nagios internals, you will be ready to dive into cookbook. Without nagios engine knowledge you will not be able fix an issue in nagios once bad things happen.

[2016-03-22 21:56] sbotman commented on #483
I will close this issue since I have merged the pull request. Please feel free to reopen the issue if the problem is stil active.

[2016-03-22 21:56] #483 closed, assigned to nobody

[2016-03-22 21:58] sbotman commented on #482
I assume that I have answer the question so I will close the issue for the moment. Please feel free to reopen the issue if the suggestion is not solving your problem.

[2016-03-22 21:58] #482 closed, assigned to nobody

[2016-03-23 19:40] TheCase opened #486 "interval math issue"
I think this whole interval/seconds thing needs to be reevaluated.

In this logic recently introduced to libraries/default.rb:

[code]

I used to have my interval_length set to 60 (seconds), which meant that I could define things like check_interval and retry_interval in minutes rather than seconds (ie. 5 vs 300).

What this new logic actually does is some wacky math that makes zero sense (to me a

[2016-03-23 21:02] sbotman commented on #486
I have to admit that this problem/issue is created by me because I tried to figure out the logic behind it but it never made any sense to me. So my idea was to specify all intervals in seconds when it comes to configuration. And that's why I have put the default value of the nagios_conf_interval_length to 1.
So if you change the interval to 60, we will need to divide the seconds with the interval,

[2016-03-25 17:53] nkadel-skyhook commented on #482
Sorry, I've been busy.

Thank you for the pointer, I'll test out the resources setting. Mind you, putting "secrets" in plain text rather than in an encrypted data bag is its own problem, but it's a common one for many chef cookbooks.

[2016-04-08 13:55] jopelope opened #489 "unmanagedhosts"
Hello,

I have a question about unmanagedhosts data bags. The doc says `Similar to services, you may also filter unmanaged hosts by environment.`, but the code in _load_databag_config.rb does something different:

[code]

If there is no environment set for the host it will never be added. Is this a bug or am I understanding the doc wrong?

Thanks.

[2016-04-11 15:53] kamyk opened #490 "Ldap Auth Example"
Hi,

Last couple of days I tried to setup LDAP auth with Nagios by Chef. I can auth with user from ldap, but it is working for all users. Is it possible to grant login only for some users or for one group where I have users/members?

Thank you so much for help and answer.

Best,
Rafal

[2016-04-11 18:40] TheCase commented on #490
[code]

[2016-04-12 09:26] kamyk commented on #490
Thank you! Works!
Rafal

[2016-04-19 16:14] nkadel-skyhook commented on #489
As best I can tell, this is expected behavior. It makes use of this cookbook quite awkward for chef-solo environments, with no chef server enabled but a list of well defined nodes in a local git repository. You basically have to add individual recipes and templates from _another_, locally maintaned cookbook, in order to link such a chef-solo based Nagios server to designated remote targets.

[2016-04-19 16:22] nkadel-skyhook opened #491 "Put distinct types of template in distinct config files"
The merging of contact, host, and service templates into a single file is confusing. This is aggravated by having distinct nagios_templates, nagios_hosttemplates, They should ideally be split to three distinct files for maximum comprehensibility and correspondence with the original data bags.

[2016-04-19 16:51] TheCase commented on #491
IMO it shouldn't matter.  If your wrapper passes spec tests, who cares how the config stanza are broken up?

[2016-04-19 17:16] nkadel-skyhook commented on #491
Anyone trying to draw links between the data bags they write, and the resulting configuration files the data resides in, can be confused by the inconsistency. This is actually a longstanding problem with the original default published nagios "templates.cfg", and this is a good opportunity to eliminate the confusion.

If it's welcome, I'd be happy to submit patches for it.

[2016-04-19 17:25] #490 closed, assigned to nobody

[2016-05-19 01:50] explody commented on #486
I'm curious why nagios_interval() exists at all, you do not need to convert time between "units" seconds or minutes.  I grant that it can be confusing but the docs are pretty direct.

Here is interval length (_always_ seconds)

[code]

And here is check_interval

[code]

And here's the snip for command_check_interval

[code]

Some examples:

[code]

[code]

Point being for both, you do not need to

[2016-06-01 21:17] wilb opened #493 "Pagerduty docs not in line with current behaviour"
Historically, the Pagerduty integration used to "just work" when you used added the pagerduty recipe to your run list and set your API key as an attribute. I've got a box I provisioned a few years ago that is still using an old version of the cookbook that still behaves like this

Having just spun up a new host using the latest cookbook it appears that this behaviour has changed, but the documenta

[2016-06-01 21:24] wilb commented on #493
https://github.com/schubergphilis/nagios/issues/288 seems to refer to the admin_contactgroup issue.

[2016-06-20 01:54] mjesse88 opened #494 "nagios service hwo to setting don't send to some contacts or congtactgroup"
I first define service template
define service{
name fortex_win_service ; The name of this service template
use generic-service ; Inherit default values from the generic-service definition .
..............................
contact_groups contactgroup01，contactgroup02
 ......................... ;
register 0
}

second I define servervice01 belong to host01,host02
define service{ use fortex_win_servic

[2016-06-20 03:52] TheCase commented on #494
Anything you set explicitly under a service will override the setting from a template

[2016-07-01 03:35] cole-christensen commented on #489
+1 this is a bug because it's unreasonable behavior having to do with the handling of multiple environments

[2016-07-01 03:36] cole-christensen commented on #465
Nagios 4.x on centos 7.x encountered several issues (centos 7 isn't listed as being supported, but I'd like it)

[2016-07-07 00:16] plopezpivotal commented on #489
+1 this is a bug. In my case I was not using the environments and this was working as expected previously.

I worked around the issue by updating data bag item with:

"environment": "_default",

since node.chef_environment is _default .
next if item['environment'].nil? || item['environment'] != node.chef_environment.

[2016-07-07 21:13] dustyburwell commented on #468
I have this exact issue. Is there a way to do this?

[2016-07-07 22:14] dustyburwell commented on #468
BTW, we're on the latest version of the cookbook.

It appears that the recipe is generating a entry in the hostgroups.cfg for each hostgroup included in the `hostgroup_name` attribute of the service, including ones that are intended to be negated like `!heartbeat`. Thus, you end up with an entry for a hostgroup named `!heartbeat`, and _that_ is what's failing.

I've spent a little bit of time tryi

[2016-07-11 19:56] wilb opened #495 ""service_template" field in "nagios_services" data bag item is not being configured in services.cfg"
It looks like there is a regression in the parsing of the nagios_services data bag - I've just realised that some logfile checks I have defined are just using the default-service template rather than the default-logifle configured in the data bag item.

`$ knife data bag show nagios_services chef-client_error`

`command_line:        $USER1$/check_nrpe -H $HOSTADDRESS$ -c chef-client_error -t 30`
`

[2016-07-11 20:14] wilb commented on #495
Having stepped through the code this looks like a documentation issue. The field is now actually just called "use" in line with how the Nagios configuration ultimately gets rendered, as can be seen here:

https://github.com/schubergphilis/nagios/blob/d58eb45bd6bcb174076917758026b791916c730c/libraries/service.rb#L404

The data bag documentation still refers to "service_template" though:

https://gi

[2016-07-20 17:50] jldugger opened #498 "PagerDuty recipe does not install agent"
`notify_pagerduty.pl` enqueues alerts in /tmp/pagerduty_nagios, but there's no agent installed to forward these on to PagerDuty.

https://www.pagerduty.com/docs/guides/agent-install-guide/ suggests they have a repo, GPG key and package. Is this functionality missing intentionally?

[2016-07-21 07:08] mdarii commented on #498
@jldugger Hi, This cookbook is using perl script integration: https://www.pagerduty.com/docs/guides/nagios-perl-integration-guide/
It doesn't require to install PagerDuty agent. Perl script flush alerts to PagerDuty. If your nagios instance doesn't trigger alert in PD, check if on service/host pagerduty contact is added, also check if you are using right api key.

[2016-07-21 16:58] jldugger commented on #498
Ah, thanks for that reference!

It looks like I need to add the pagerduty user to a contact group. I ran that perl script directly as root and didn't see anything go through, and couldn't find any logs for pdagent. As we're running CentOS7 and want bidirectional support, I hadn't really considered the perl script compatibility mode. Perhaps a separate setup for centos 6+ should be used.

`Jul 21 1

[2016-07-21 23:47] jldugger commented on #498
Had to install `yum install perl-LWP-Protocol-https`, which isn't mentioned in PD's docs.

[2016-08-02 01:04] jldugger commented on #498
tl;dr: CentOS7 support is not present, as clearly documented in the metadata.

[2016-08-09 19:55] #476 closed, assigned to nobody

[2016-08-18 09:42] wilb commented on #390
According to the docs at https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/3/en/configcgi.html this should be do-able by simply adding an "authorized_for_read_only=" line to the cgi.cfg and passing in the users that are allow read only access?

[2016-10-06 23:05] tonymeng commented on #468
+1

[2016-10-07 16:38] sbotman commented on #468
Hmm, seems that this is still active since @tonymeng +1 on this. One thing I don't understand is why would you want to exclude some group via the !, since you can just remove the group and have the same effect... Maybe I'm missing something here. Nevertheless we should try to fix this if it's an issue for 3 people..

[2016-10-07 17:54] tonymeng commented on #468
Hi @sbotman , to shed some light on this, I'll talk about how we structure our roles in Chef.

We have a few hundred machines that all have different roles, however, each machine also has a `base` role. Inside nagios, we have checks for the `base` role including SSH, ping, disk_space, etc. However, when some of these checks fires, we want to route it specifically. So how we'd like to do that is.

[2016-10-07 18:01] sbotman commented on #468
Thank you for the info, needed this pointer. I get the idea now and makes sense..

[2016-10-07 18:26] sbotman commented on #468
Somehow it looks that the latest version of this cookbook is doing something strange with the group membership. All groups don't have any members when I do a test run. Does anybody experience the same?

[2016-10-07 18:39] tonymeng opened #501 "hostgroup_members in hostgroup is not being generated"
When trying to create a nagios hostgroup using sub-hostgroups via `hostgroup_members`, the hostgroup is generated as an empty hostgroup

[code]

generates

[code]

but should generate

[code]

[2016-10-07 18:41] tonymeng commented on #468
i'm on version 7.2.5 and the generation seems fine

[2016-10-08 22:36] sbotman commented on #501
Hi @tonymeng, can you checkout the develop branch for me and let me know if this fixes your issues. (ps needs more refinement but it's a start)

[2016-10-08 23:09] sbotman commented on #495
should be fixed on the develop branch.

[2016-10-08 23:17] sbotman commented on #491
I personally don't care, so feel free to move the configuration into another file as you want.

[2016-10-11 01:16] tonymeng commented on #501
i tried running with your changes (on nagios 4.0.8, not 4.2.1). and there were no hostgroups generated when only hostgroup_members was set in `nagios_hostgroup`. do I need to update nagios for this to work?

[2016-10-11 18:44] sbotman commented on #501
No, the version of nagios is not related to the configuration. So that should not have any impact.
Let me add some testing for the hostgroups.

[2016-10-11 20:09] sbotman commented on #501
Phfff, seems that it's a typo bug... Nice find @tonymeng.... updated the develop branch for the moment.

[2016-10-11 20:49] tonymeng commented on #501
great thanks. I'll give it a shot later and let you know.
On Tue, Oct 11, 2016 at 1:09 PM Sander Botman notifications@github.com
wrote:

[2016-10-13 21:57] ezray opened #502 "nagios_hostgroups fails unless monitored_environments is set"
The documentation specifies that if `multi_environment_monitoring` is true, `monitored_environments` defaults to [], meaning all environments are monitored. However, if `monitored_environments` isn't set, attempting to use a nagios_hostgroups data bag fails with a `400 "Bad Request"` error. The cause appears to be that in `recipes/_load_databag_config.rb`, `node['nagios']['monitored_environments']

[2016-10-14 17:57] tonymeng commented on #501
lgtm! thanks @sbotman

[2016-10-14 17:58] tonymeng commented on #501
ill let you close it when you merge it :)

[2016-10-18 00:05] tonymeng commented on #468
fyi i think @sbotman is fixing this as well : https://github.com/schubergphilis/nagios/compare/develop#diff-5538e34ba8d6106723f552e70154d32bR300

[2016-10-18 10:59] wilb opened #503 "large_installation_tweaks -> use_large_installation_tweaks"
Another one that has out of date documentation.

`node['nagios']['large_installation_tweaks'] - Attribute to enable large installation tweaks. Defaults to 0.`

After realising that they weren't enabled on some boxes we've provisioned I looked over this - the nagios.cfg template is now just iterating over the node['nagios']['conf'] attribute and just renders items as per the Nagios config, so it sh

[2016-10-18 11:02] wilb commented on #502
:+1: - encountered this myself.

[2016-10-19 15:22] wilb opened #505 "default['nagios']['server']['src_dir'] logic is broken"
The following attribute is evaluated at compile time which results in it always being '4.0.8' even when you override node['nagios']['server']['url']

`default['nagios']['server']['src_dir']   = node['nagios']['server']['url'].split('/')[-1].chomp('.tar.gz')`

(from https://github.com/schubergphilis/nagios/blob/master/attributes/default.rb )

This  results in the compilation phase being attempted f

[2016-10-19 15:37] wilb opened #506 "default['nagios']['conf']['check_result_path'] not created as part of source install"
Just completed a source install of 4.2.1 on CentOS 7 and the converge ultimately fails with Nagios not starting up due to `/var/log/nagios/spool/checkresults` not being present. This gets rendered out to config via:

default['nagios']['conf']['check_result_path'] = "#{node['nagios']['state_dir']}/spool/checkresults"

Nagios starts up OK once the directory is created. `/var/log/nagios/spool` and `/

[2016-11-02 18:04] tonymeng commented on #501
thoughts on when this will be released?

[2016-11-03 09:01] sbotman commented on #501
I'm quite busy at the moment and will have to do this in my spare time. Maybe I can ask @snkutlu to take over, but I'm sure he is also very busy (if not let me know :) )

[2017-01-20 11:27] wilb commented on #502
Just to revisit this, setting `node['nagios']['monitored_environments'] = [ "*" ]` results in the search populating all environments withing the Chef organisation as per the documentation. Maybe the simplest fix is to update the default attribute within the cookbook to contain the wildcard?

[2017-01-21 22:20] cdelacruzpinto opened #511 "nagios::apache won't work with Ubuntu 16.04"
The recipe 'nagios::apache' tries to install libapache2-mod-php5, which is not available in Ubuntu 16.04

[2017-01-24 11:17] wilb commented on #502
Unfortunately doing the above causes unintended consequences with the unmanagedhosts data bag; environment is evaluated before the chef search has taken place so any checks that are set to be active in only certain environments will not be active at all.

[2017-02-03 00:30] tonymeng commented on #501
bump

[2017-02-11 05:58] GitBytes opened #512 "Use of deprecated nginx cookbook"
Hey @sbotman,

I just wanted to bring up some dependency issues..

I was attempting to bump up some dependencies in our infrastructure and discovered the `nagios` cookbook depending on the `nginx` cookbook which is in the process of being deprecated and/or rewritten (See [`nginx`](https://supermarket.chef.io/cookbooks/nginx) cookbook and [`chef_nginx` ](https://supermarket.chef.io/cookbooks/chef_n

[2017-02-11 06:00] GitBytes commented on #512
@sbotman I see this may be possibly addressed in #510 and/or #509? Waiting to see if that maybe solves this. Thanks..

[2017-03-03 11:17] wilb opened #515 "RHEL7 RPMs have changed the 'state_dir'"
4.2 RPMs have recently been pushed up to EPEL, but the state_dir has changed which results in a failing converge.

[code]

In 4.0.x it was `/var/log/nagios`, it looks like the 4.2.x packages are now using `/var/spool/nagios`

Given some attributes are merged early in `attributes/config.rb` it doesn't look like a simple override of `node['nagios']'['state_dir']` actually fixes this, I'm just lookin

[2017-03-04 08:20] tas50 commented on #512
This has been merged to master now

[2017-03-04 08:20] #512 closed, assigned to nobody

[2017-03-04 08:20] tas50 commented on #511
This is actually a bug in the apache2 cookbook. I believe it's fixed upstream, but if not you should file it there.

[2017-03-04 08:20] #511 closed, assigned to nobody

[2017-03-24 12:59] ghost opened #517 "Accessing Nagios doesn't work"
### Cookbook version
7.2.6

### Chef-client version
12.19.36

### Platform Details
Ubuntu 14.04.5 LTS

### Scenario:
I'm trying to access the nagios web interface

### Steps to Reproduce:
I just followed the instruction.
I created a monitoring role with the following cookbooks (in that order)

1. munin::server
2. munin::server_nginx
3. nagios::nginx
4. nagios
5. nrpe

In addtion I created a Data B

[2017-04-07 20:45] lam0re opened #518 "Remove sever manually"
### Cookbook version
7.2.6

### Chef-client version
12.8.1

### Platform Details
Ubuntu 14.04

### Scenario:
I created a node with the nrpe cookbook. I deleted that node and recreated it but without the nrpe cookbook. The node is still in my Nagios hosts list but now there is no nrpe, so all tests fail. Can I remove that host from Nagios somehow manually?

[2017-04-11 14:27] awworrell opened #519 "Question: Has this been abandoned?"
### Cookbook version
7.2.6

### Platform Details
Ubuntu 12.04 +

### Scenario:
Has this project been abandoned? I am having issues with dependencies where nginx is not being updated thus giving older versions of build-essentials and 7-zip. 7-zip has been deprecated and moved to a new project. The same can be said for nginx.

[2017-04-11 15:42] sbotman commented on #519
Well not really, just haven't got much time lately to work on this. But please feel free to should in any PR if needed.

[2017-04-12 14:07] awworrell commented on #519
I was looking into the metadata file and it looks like the dependency has been updated already to include chef_nginx. Has a release been done recently into the chef supermarket?

[2017-06-05 02:58] mjesse88 commented on #494
Hi TheCase,
thanks for your respone.
I fixed this problem .
hostname and Ip are  primary key of nagios host.

[2017-06-05 02:58] #494 closed, assigned to nobody

[2017-06-09 19:07] robbat2 commented on #519
`nginx_simplecgi` seems to abandoned upstream, and still pulls in the old `nginx` cookbook, so you end up with conflicting resource names between `nginx` and `nginx_simplecgi` :-(.

[2017-06-15 12:12] damacus commented on #519
Not anymore!

Thanks for your interest. We've recently moved the cookbook to Sous-Chefs and are looking for active maintainers and contributors. If this you please drop by the [chef community slack, #sous-chefs room ](https://chefcommunity.slack.com/archives/sous-chefs)

[2017-06-15 12:13] damacus commented on #519
@robbat2 thanks for pointing that out. I'm going to start assigning issues to these bugs. Some of which need to go into the [main chef_nginx cookbook](https://github.com/chef-cookbooks/chef_nginx) probably

[2017-06-15 12:14] damacus opened #525 "nginx_simplecgi looks abandoned"
`nginx_simplecgi` seems to abandoned upstream, and still pulls in the old nginx cookbook, so you end up with conflicting resource names between nginx and nginx_simplecgi :-(.

[2017-06-15 12:14] damacus commented on #525
As per @rodriguezsergio in #519

[2017-06-15 12:15] damacus opened #526 "Release working Cookbook."
We need to do a clean release with Sous-Chefs and recent fixes.

[2017-06-15 12:15] #519 closed, assigned to nobody

[2017-06-15 12:15] damacus commented on #515
Thanks @wilb if you can figure out what's going on there. We'll happily pull in a fix.

[2017-06-15 12:19] damacus commented on #498
@jldugger if you'd like to open a PR and fix this we'd greatly receive it!

Thanks!

[2017-06-15 12:21] damacus commented on #465
So this seems to "work" for now. I'm going to close this issue down.

We'll be doing a bunch of refactoring and cleaning up lingering issues. Defaulting to the latest Nagios seems super sensible.

[2017-06-15 12:21] #465 closed, assigned to nobody

[2017-06-15 12:22] damacus commented on #505
Oh good lord. Yeah, so I'm thinking about doing a custom resource rewrite for this.

And this is exactly why. Compile time attributes and attribute driven application cookbooks in general are a pain to work with.

[2017-06-15 12:23] damacus commented on #505
I'm putting wont fix on this. But we will fix this behaviour as part of the rewrite (i.e. this issue should be invalid!)

[2017-06-15 12:23] #505 closed, assigned to nobody

[2017-06-15 12:25] damacus commented on #467
Yeah databags and the like are going to get refactored out when we rewrite using custom resources.

If you could provide input into secrets management using a resource driven model that would be *awesome*!

[2017-06-15 12:26] damacus opened #527 "Custom Resources - Handle Secrets"
As per #467 we need a better way to handle secrets when using Custom Resources

Closes #467

[2017-06-15 12:27] #467 closed, assigned to nobody

[2017-06-15 12:28] damacus commented on #493
Any way you'd like to submit a PR for this issue?

Is so that'd be greeeeat.

[2017-06-15 12:29] damacus commented on #474
Not yet? We'll happily pull in a PR for this though!

Until then. I'm going to go ahead and close this issue.

Thanks very much!

[2017-06-15 12:29] #474 closed, assigned to nobody

[2017-06-15 12:30] damacus commented on #491
@nkadel-skyhook a pr would be great.

I'm going to start a custom resource rewrite and we'll look at doing it exactly this way for simplicity.

[2017-06-26 21:04] finchr commented on #525
I'm also getting the following error with this cookbook on Ubuntu 16.04:

       Recipe: nginx_simplecgi::php
         * apt_package[php5-cgi] action install
           * No candidate version available for php5-cgi
           ================================================================================
           Error executing action `install` on resource 'apt_package[php5-cgi]'
           ==

[2017-06-27 08:03] damacus commented on #525
@finchr that's actually a system/apt package error you're getting there rather than a cookbook cookbook dependency issue.

Seeing as it's php5, I'm not at all surprised. If you'd like to help update this cookbook to the latest Nagios version that'd be great!

[2017-06-27 16:37] finchr commented on #525
Hi Dan,

I would be more than happy to help update the cookbook! I've had to make a few fixes to get this working on Ubuntu 16.04 and would be glad to share the changes.

[2017-06-29 15:07] finchr commented on #525
What is the current status of the cookbook? I can't get anything to converge due to problems with the data in test/integration/data_bags. I can force the convergence by modifying (i.e. deleting) the data bags but then the kitchen verify steps fail.

[2017-06-29 15:30] damacus commented on #525
I'm working on this https://github.com/sous-chefs/nagios/pull/528

Amongst a few other PRs in other sous-chefs repos (ruby_rbenv being one)

If you feel like you're able to contribute to that PR, that would be great!

[2017-06-29 18:23] finchr commented on #525
I'll take a look at that as well, I'll send you a pull request if I make any progress on it.

[2017-07-08 22:12] seren commented on #506
We're running into this issue as well. Pre-creating the directory doesn't work since it needs to be owned by the nagios user which doesn't exist yet. This is with recipe version 7.2.4.

[2017-07-09 21:01] shoekstra commented on #506
Hi!

We are tracking/fixing this via #534.  Once the OpenSuse support has been fixed we'll merge this in and cut a new release.  Should happen in next day or so.

Cheers,
Stephen

[2017-07-11 11:57] wilb opened #535 "apache2::mod_php5 no longer present in v4.0.0 of apache2 cookbook"
Another bug without a PR to fix it I'm afraid, but just so it's tracked for now a new version of the apache2 cookbook was released yesterday which has removed the mod_php5 recipe in favour of one called mod_php.

Currently https://github.com/sous-chefs/nagios/blob/master/recipes/apache.rb#L21 includes mod_php5 - presumably a straight swap should fix it but I haven't actually tested it yet.

[2017-07-11 13:23] craigjamesstewart opened #536 "It would be nice to be able to use custom SSL cipher settings with apache"
I created a pull request sometime ago to add this feature. It's a fairly simple pull request. #529

I haven't pressed for this as it's a nice to have, but it would be a useful feature enhancment, and given the pace at which old SSL ciphers are being deprecated these days, and the number of practical vulnerabilities being found in weak ciphers, I'm sure I'm not the only one that would like this fea

[2017-07-11 16:15] tas50 commented on #535
Fixed by https://github.com/sous-chefs/nagios/pull/537

Thanks for the report

[2017-07-11 16:15] #535 closed, assigned to nobody

[2017-07-11 16:16] tas50 commented on #536
I merged the PR. Thanks

[2017-07-11 16:16] #536 closed, assigned to nobody

[2017-07-11 16:46] sirosen commented on #525
I'm running into issues with this in my environment because `chef_nginx` currently requires `ohai >= 4.1.0` and `nginx` requires `ohai ~> 2.0`.

This cookbook's dependency on `nginx_simplecgi` is therefore blocking me from upgrading to the latest version.

[2017-07-11 19:48] finchr commented on #525
Hi @sirosen, I have pull request in (#530) which will fix this.

[2017-07-11 19:54] wilb commented on #467
Is the intention to deprecate the use of the `nagios_*` databags for service check definition and all the other auto population mechanisms of this cookbook, or just for places where secrets are used?

[2017-07-11 19:55] wilb commented on #515
It's a while since I raised this and I really can't remember whether I got to the bottom of it or not. Will check when I'm back in front of a RHEL box and report back.

[2017-07-12 09:54] wilb commented on #515
Unfortunately I hacked around it with a symlink as we've still got a mix of 4.0.x and 4.2.x hosts in use. Will try and find time to fix it properly at some point.

[2017-07-12 23:43] tas50 commented on #526
You're setting high standards here

[2017-07-13 06:34] damacus commented on #526
😂 figure, aim for the moon

[2017-07-26 16:23] agonzalez-tk opened #543 "apache2 cookbook version dependency"
### Cookbook version
7.2.7

### Chef-client version
12.x

### Scenario:
nagios cookbook depend on apache2, most recent changes on apache2(4.0,5.0) cookbook removed recipies mod_php5

[2017-07-26 16:27] shoekstra commented on #543
Hi!

This is true - we updated [recipes/apache.rb](include_recipe 'apache2::mod_php'
) to reflect this but I see we missed the dependency in the `metadata.rb`.

Thanks for reporting!

[2017-07-26 20:36] #543 closed, assigned to shoekstra

[2017-07-27 14:48] jbexten commented on #526
The current version of the cookbook released to the supermarket is not compatible with Nagios 4+ due the changes to the apache cookbook. It appears that those issue are resolved in the source, but without a release we cannot pull them in via berks. A working release would be appreciated.

[2017-07-27 18:39] sirosen commented on #525
#530 is merged, but didn't include a `closes` or `resolves` for GitHub to parse.
Could someone manually close this?

[2017-07-27 18:47] sirosen commented on #526
Hate to nag, but... \<nag\> Is there a timeline for a release?

We have a couple of outstanding pieces of work blocked on a new version of this cookbook (because it's blocking an update from nginx to chef_nginx by means of #525 ).
\</nag\>

[2017-07-27 19:54] tas50 commented on #525
I'm closing this out since I'm now the owner of nginx_simplecgi and we've also moved away from the cookbook.

[2017-07-27 19:54] #525 closed, assigned to nobody

[2017-07-27 20:42] tonymeng commented on #501
it's almost been a year, any updates on when this will be merged? the fix works in prod just a hassle changing the cookbook every time.

[2017-07-27 22:02] shoekstra commented on #501
@tonymeng will take a look and see if we can get this released in next day or two.

[2017-07-27 22:39] tonymeng commented on #501
thanks!

[2017-07-28 12:28] ghost opened #545 "Error executing action `create` on resource 'template[/etc/apache2/sites-available/nagios3.conf]'"
### Cookbook version
7.2.7

### Chef-client version
chef-client version: 13.2.20

### Platform Details
UBuntu 16.04

### Scenario:
Install Nagios

  Error executing action `create` on resource 'template[/etc/apache2/sites-available/nagios3.conf]'
==> default:     ================================================================================
==> default:
==> default:     Chef::Mixin::Template::Te

[2017-07-28 22:40] shoekstra commented on #545
Hi!

Thanks for reporting, it looks like this problem has already been solved but it has not being pushed to the supermarket yet, will make sure this happens in the next day or.

Stephen

[2017-08-02 14:31] ghost opened #546 "could not find recipe mod_php5 for cookbook apache2"
### Cookbook version
7.2.7

### Chef-client version
13.2.20

### Platform Details
CentOS Linux release 7.3.1611 (Core)

### Scenario:
Install nagios

## Apache2 chef supermarket 5.0.0
---------------------------------------
Note the apache2 recipe mod_php5 is now named mod_php
[code]

[code]

[2017-08-02 14:37] ghost opened #547 "Error executing action `reload` on resource 'service[nagios]'"
### Cookbook version
7.2.7

### Chef-client version
13.2.20

### Platform Details
CentOS Linux release 7.3.1611 (Core)

### Scenario:
Install nagios

### Actual Result:
[code]

[2017-08-02 15:08] ghost opened #548 "nagios admin web application gets "url not found" after successful login"
### Cookbook version
7.2.7

### Chef-client version
13.2.20

### Platform Details
CentOS Linux release 7.3.1611 (Core)

### Scenario:
Install nagios

### Actual Result:
Web browser gets "url not found after successful login".

[code]

Problem: apache2 - php made a change.
You are now required to add an "AddHandler" for php to the virtual hosts file.
I got bit by this change in my own web apps that

[2017-08-08 15:38] sekrett commented on #547
Of course:

[code]

It should be `restart` on systemd.

[2017-08-08 17:23] tonymeng commented on #501
was this released?

[2017-09-14 17:45] seren commented on #526
Just to keep this issue alive, we've been blocked waiting for the fixes in the next version.

[2017-09-14 22:02] damacus commented on #526
I really need to find some time to set aside and sit down to do this.

Any help would be appreciated!

[2017-09-15 00:53] #503 closed, assigned to nobody

[2017-09-15 00:56] tas50 commented on #526
At this point we just need a well written changelog

[2017-09-15 08:34] seren commented on #526
Would that just be a list of the issues closed due to merges since 71cba61 on Dec 14, 2015, grouped into bugs and improvements?

It looks like there are [about 20 of them](https://github.com/sous-chefs/nagios/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20closed%3A%3E2015-12-14), though I suppose there could be multiple bugs/improvements per issue, and maybe some that aren't referenced by issu

[2017-09-18 16:32] mtory commented on #546
mod_php5 is deprecated. Use mod_php instead.
https://github.com/sous-chefs/apache2/commit/2c030dc8ec0daed5f02d72793b315be6f966ffe8

[2017-09-18 22:09] shoekstra commented on #546
This has been resolved in the v8.0.0 release which should land in the supermarket in the next couple of hours.  [Watch this space](https://github.com/sous-chefs/nagios/pull/551).

[2017-09-18 22:09] #546 closed, assigned to nobody

[2017-09-18 23:02] #526 closed, assigned to nobody

[2017-09-18 23:03] tas50 commented on #526
Shipping!

[2017-09-19 06:56] shoekstra commented on #545
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

[2017-09-19 06:56] #545 closed, assigned to shoekstra

[2017-09-19 06:57] shoekstra commented on #501
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

[2017-09-19 06:57] #501 closed, assigned to shoekstra

[2017-09-19 06:58] shoekstra commented on #517
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

[2017-09-19 06:58] #517 closed, assigned to shoekstra

[2017-09-19 06:59] shoekstra commented on #547
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

[2017-09-19 06:59] #547 closed, assigned to nobody

[2017-09-19 07:01] shoekstra commented on #548
This will need manual testing to verify/resolve as at the moment our tests pass when opening pages and passing username and password to curl.

@gforghetti, could you test again with the latest release in the supermarket (8.0.0) and let us know if this manual testing is needed or if this can be closed?

[2017-09-19 08:32] shoekstra commented on #495
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

[2017-09-19 08:32] #495 closed, assigned to nobody

[2017-09-19 13:43] ghost commented on #548
Fix is working.  Thanks Stephen!

[2017-09-19 13:43] #548 closed, assigned to shoekstra

[2017-09-19 13:44] ghost commented on #547
It's fixed. Thanks Stephen.

[2017-09-19 13:44] shoekstra commented on #548
Great to hear!

[2017-09-19 13:44] ghost commented on #546
It's fixed.  Thanks Stephen.

[2017-09-19 15:37] shoekstra commented on #468
@tonymeng when you say "generation seems fine", do you mean that this is no longer a problem or there is no problem generating a config file with a negated hostgroup name?

Is it possible to confirm if this issue still exists with the latest release in the supermarket?

[2017-09-19 15:39] shoekstra commented on #506
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

[2017-09-19 15:39] #506 closed, assigned to shoekstra

[2017-09-19 15:45] shoekstra commented on #518
@lam0re did you delete your server from Chef?

This cookbook uses search to populate it's monitored hosts list.  To delete the client from the server you can do:

[code]

Please could confirm if this fixes your host appearing in the Nagios host list.

Stephen

[2017-09-19 15:46] shoekstra commented on #515
This should be fixed in the latest release to the supermarket; please reopen if still having a problem.

Thanks,
Stephen

[2017-09-19 15:46] #515 closed, assigned to nobody

[2017-09-19 15:50] shoekstra commented on #491
Hi @nkadel-skyhook,

You're welcome to submit a PR to add this functionality but for most people when a configuration file is managed by Chef they aren't too phased what it looks like because the config is in their config management system.

I'm going to close this for now, again PR welcome if you wish to tidy up the files.

Stephen

[2017-09-19 15:50] #491 closed, assigned to nobody

[2017-09-19 21:11] jasmeralia opened #554 "stop_apache attribute is not being respected"
### Cookbook version
8.0.0

### Chef-client version
13.3.42

### Platform Details
bento/ubuntu-14.04

### Scenario:
I'm using the nagios cookbook to write out the various configuration files for my environment, but I have a few tweaks as I'm actually then loading those configs into Shinken running inside a Docker container. After updating the newest cookbook version while testing Chef 13 fixes, I'

[2017-09-25 13:49] jstange opened #555 "where'd the wiki go?"
The Wiki link in the README, https://github.com/sous-chefs/nagios/wiki/config, just drops back to said README. Unless it's been moved somewhere non-obvious, that means no documentation for what goes in the various data bags.

[2017-09-25 15:25] damacus commented on #555
Fixed!

[2017-09-25 15:25] #555 closed, assigned to nobody

[2017-11-03 22:54] GitBytes opened #556 "Still supporting less than Apache 2.4?"
### Cookbook version
Nagios `>= 8.0`
Apache2 `>= 5.0`

### Chef-client version
`12.19.36`

### Platform Details
CentOS 7.4

### Scenario:
Trying to deploy a new Nagios Server based on the Nagios Cookbook (version >= 8.0) which utilizes the Apache2 cookbook (version >= 4.0).

### Steps to Reproduce:
Including the `nagios::apache` recipe as part of a wrapper recipe to deploy nagios.

### Expected Re

[2017-11-18 00:31] rhuang2014 opened #557 "Provide an option to disable the default all hostgroup"
### Cookbook version
[8.0.0]

### Chef-client version
[12.21.3]

### Platform Details
[Ubuntu 16.04 AWS]

### Scenario:
[There isn't an option to exclude the all hostgroup from the hostgroups template.]

### Steps to Reproduce:
[none]

### Expected Result:
[none]

### Actual Result:
[none]

[2018-01-31 18:30] joshskains opened #559 "Is this project dead?"
Don't want to use it if the project has since died. Looks like almost no activity since September?

[2018-02-01 13:06] Raboo commented on #559
Well, you can get involved and keep it alive if you want

[2018-02-01 15:00] damacus commented on #559
Hi @joshskains

we're always looking for people to help out maintain the community cookbooks, it's really the reason sous-chefs exists.

The current community have been busy lately, and so some projects may look _dead_. However please note, sometimes projects look dead, even if they're stable(!).

We have a number of generalists in sous-chefs that would love to show some new people around, how  to

[2018-02-02 02:13] explody commented on #559
I can confirm that the community has some PRs incoming. So no, not dead, just DIYish ;)

[2018-02-02 02:24] explody opened #560 "Negative values should not be interpreted as normal items for auto-creation"
### Cookbook version
8.0.0

### Chef-client version
 \>= 12.17

### Platform Details
Ubuntu Trusty / Xenial

### Scenario:
Use a negative-format (!stuff) value for an option that would normally result in host/hostgroup/service/etc being auto-created.

### Steps to Reproduce:
Use a bang-prefixed string as a value for a resource's option. Such as

[code]

### Expected Result:
!notthishost would be a

[2018-02-02 02:53] explody opened #562 "pop() should work, Hash does not have a keys? method"
### Cookbook version
8.0.0

### Chef-client version
\>=12.17

### Platform Details
Ubuntu

### Scenario:
Use the pop() method on most/all of the Nagios classes.  This fails all over with NoMethodError as most of the pop()'s contain lines that call `@somehash.keys?(str)`.  This looks like a typo leftover from a refactor as there is no Hash.keys? method.

I have https://github.com/explody/nagios/com

[2018-02-02 03:02] explody opened #563 "pop() should work, argument errors"
### Cookbook version
8.0.0

### Chef-client version
 \>= 12.17

### Platform Details
Ubuntu Trusty / Xenial

### Scenario:
Use pop() methods in the various libraries.

### Steps to Reproduce:
Try to pop a value out of a Nagios::Service, receive `ArgumentError - wrong number of arguments (given 2, expected 1)`

I'll note that pop() on Nagios::Host works as expected. The contents of the methods in t

[2018-02-21 04:31] grayloglearn opened #564 "How to know the host problem ID and Service problem ID in nagios XI for particualr host"
HI Team,

I want to know the hostproblem ID and service Problem ID in nagios XI. Can anybody help with that details how to find and where is the location in nagios xi

[2018-03-19 13:13] sspans opened #565 "systemd service should match configured command_file location"
### Cookbook version
Latest

### Platform Details
CentOS 7

### Scenario:
The nagios command_file is partially managed via the packaged systemd service

[code]

When a different command_file location is specified in the cookbook this management will break.
Resulting in a broken command_file after a nagios restart.

### Steps to Reproduce:
[code]

### Expected Result:
A command arriving at the runn

[2018-04-02 17:00] bcorner13 opened #566 "why was Centos 6 removed in #534"
### Cookbook version
8.0.0

### Chef-client version
13.8.5

### Platform Details
Centos 69
### Scenario:
run latest cookbook on centos 6.9

[2018-04-05 22:31] mbartholomewsm opened #567 "Issue for "nagios.configtest error" on nagios versions >=4.3.3"
### Cookbook version
7.2.6

### Chef-client version
12.18.31

### Platform Details
Ubuntu Trusty 14.04.5

### Scenario:
Use the nagios service (v4.3.4) on my Ubuntu host with community chef cookbook for nagios (7.2.6).

The nagios service won't start without an update to the /etc/passwd file for nagios user.
Most likely due to this change in Nagios Core:
[https://github.com/NagiosEnterprises/nagio

[2018-05-08 20:41] mclyde-oracle opened #568 "server_source recipe calls nonexistent php recipe"
### Cookbook version
8.0.0

### Chef-client version
14.0.202

### Platform Details
Oracle Linux 7.5

### Scenario:
Allow chef-client to complete when using server_source

### Steps to Reproduce:
I am calling the server_source recipe, which includes php::module_gd. That recipe no longer exists in recent versions of the php cookbook.

### Expected Result:
chef-client will fail

[2018-05-08 21:39] tas50 commented on #568
Fixed in 8.1. Thanks for the  PR

[2018-05-08 21:39] #568 closed, assigned to nobody

[2018-05-08 21:39] tas50 commented on #566
CentOS 6 was removed as the Apache2 cookbook no longer supports CentOS 6

[2018-05-08 21:39] #566 closed, assigned to nobody

[2018-05-08 21:40] #559 closed, assigned to nobody

[2018-08-06 20:27] veilig2000 opened #571 "Fetching nagios host objects from Nagios Instance"
### Cookbook version
8.1.0

### Chef-client version
14.3.37

### Platform Details
Ubuntu

### Scenario:
I want to loop through the hosts available to my `Nagios.instance` and extract information based off them.  ie: check_period, notification_period, etc...  But when collecting my hosts, they don't seem to be populated with anything more than a name and address

### Steps to Reproduce:
[code]

###

[2018-09-26 15:43] davidpickwell opened #572 "Chef not pulling in Unmanaged Hosts"
### Cookbook version
7.2.7 (Unable to use latest, due to issues with Apache 2.4 within our Env)

### Chef-client version
Chef: 12.21.3

### Platform Details
CentOS release 6.9 (Final)
Linux version 2.6.32-696.13.2.el6.x86_64

### Scenario:
Trying to add unmanaged hosts through data bags

### Steps to Reproduce:
Added the data bag as below:

[code]

Referenced it as below:

[code]

On the chef-clie

[2019-10-09 22:35] PowerSchill opened #584 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/issues/110. If not applicable then i

[2019-10-09 22:35] PowerSchill opened #585 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/issues/108. If not applicable then issue should be

[2019-10-09 22:35] PowerSchill opened #586 "Update Changelog"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/issues/101. If not applicable then issue should be closed.

[2019-10-09 22:36] PowerSchill opened #587 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:36] PowerSchill opened #588 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-12-11 23:44] #584 closed, assigned to nobody

[2019-12-15 17:11] #562 closed, assigned to nobody

[2020-01-26 23:00] tas50 commented on #588
Closing this since we've moved to Github actions.

[2020-01-26 23:00] #588 closed, assigned to nobody

[2020-06-19 17:06] mbaitelman commented on #585
Completed with updates from sous-chefs/repo-management

[2020-06-19 17:06] #585 closed, assigned to nobody

[2020-06-19 19:35] tamwoza opened #615 "Problem with hostgroups"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Unable to resolve a group of groups using hostgroup_members

## :pancakes: Cookbook version

8.0.0

## :woman_cook:  Chef-Infra Version

12.20.3

## :tophat: Platform details

RHEL 6.10

#

[2020-09-08 16:28] #556 closed, assigned to nobody

[2020-10-04 17:34] ramereth commented on #615
@tamwoza is this still happening with the current release?

[2020-10-04 17:34] #587 closed, assigned to nobody

[2020-10-04 17:35] ramereth commented on #572
@davidpickwell is this still happening with the current release of the cookbook?

[2020-10-04 22:07] ramereth commented on #563
@explody is this still an issue that needs to be addressed?

[2020-10-04 22:07] #560 closed, assigned to nobody

[2020-10-04 22:10] #518 closed, assigned to nobody

[2020-10-04 22:19] #485 closed, assigned to nobody

[2020-10-04 22:20] #468 closed, assigned to nobody

[2020-10-06 13:55] tamwoza commented on #615
I was able to get this working (in the versions detailed).  There was a typo found in #501 that solved my problems.

[2020-10-06 13:55] #615 closed, assigned to nobody

[2020-10-12 00:17] #571 closed, assigned to nobody

[2020-10-12 00:17] #567 closed, assigned to nobody

[2020-10-12 00:17] #564 closed, assigned to nobody

[2020-10-12 00:17] #502 closed, assigned to nobody

[2020-10-12 00:17] #489 closed, assigned to nobody

[2020-10-12 00:17] #486 closed, assigned to nobody

[2020-10-12 00:17] #400 closed, assigned to nobody

[2020-10-12 00:17] #390 closed, assigned to nobody

[2020-10-16 00:18] #586 closed, assigned to nobody